@if (router.url.includes('/raporty/')) {
  @switch (router.url) {
    @case ('/raporty/korekty') {
      <form [formGroup]="korektyForm">
        <label>
          <span>Data od:</span>
          <input type="date" formControlName="data_od">
        </label>
        <label>
          <span>Data do:</span>
          <input type="date" formControlName="data_do">
        </label>
        <button type="submit" (click)="generateKorektyReport()">Generuj raport</button>
      </form>
    }
  }
  <main>
    @defer (when result) {
      @if (router.url === '/raporty/korekty') {
        <table #table>
          <thead>
          <tr>
            <th>Nazwisko</th>
            <th>Imie</th>
            <th>Data korekty</th>
          </tr>
          </thead>
          <tbody>
          @for (korekta of result; track korekta.id) {
            <tr>
              <td>{{ korekta.nazwisko }}</td>
              <td>{{ korekta.imie }}</td>
              <td>{{ korekta.dzien_wypisania | date : 'fullDate' }}</td>
            </tr>
          }
          </tbody>
        </table>
      }
      <button (click)="exportRaport()">Pobierz raport</button>
    } @placeholder (minimum 500ms) {
      <h2>Nie wygenerowano jeszcze raportu...</h2>
      <p>Wybierz opcje u góry aby wygenerować.</p>
    }
  </main>

} @else {
  <div class="raports">
    <h1>Wybierz raport</h1>
    <p>Wybierz raport z menu po lewej stronie.</p>
  </div>
}
