@if (router.url.includes('/raporty/')) {
  @switch (router.url) {
    @case ('/raporty/korekty') {
      <form [formGroup]="korektyForm">
        <label>
          <span>Data od:</span>
          <input type="date" formControlName="data_od">
        </label>
        <label>
          <span>Data do:</span>
          <input type="date" formControlName="data_do">
        </label>
        <button type="submit" (click)="generateKorektyReport()">Generuj raport</button>
      </form>
    }
    @case ('/raporty/obecnosci') {
      <form [formGroup]="obecnosciForm">
        <label>
          <span>Data od:</span>
          <input type="date" formControlName="data_od">
        </label>
        <label>
          <span>Data do:</span>
          <input type="date" formControlName="data_do">
        </label>
        <button type="submit" (click)="generateObecnosciReport()">Generuj raport</button>
      </form>
    }
  }
  <main [class.table]="result && result.length > 0">
    @if (result && result.length > 0) {
      <div>
        <label class="checkbox-label">
          <input type="checkbox" [(ngModel)]="condensedMode" (change)="toggleCondensedMode()">
          <div></div>
          <span>Włącz tryb skondensowany</span>
        </label>
        <button (click)="exportRaport()">Pobierz raport</button>
      </div>
      @if (router.url === '/raporty/korekty') {
        <table #table>
          <thead>
          <tr>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>Data korekty</th>
          </tr>
          </thead>
          <tbody>
            @if (!condensedMode) {
              @for (korekta of result; track korekta.id) {
                <tr>
                  <td>{{ korekta.nazwisko }}</td>
                  <td>{{ korekta.imie }}</td>
                  <td>{{ korekta.dzien_wypisania | date : 'fullDate' }}</td>
                </tr>
              }
            } @else {
              @for (korekta of result; track korekta.nazwisko + '-' + korekta.imie + '-' + (Array.isArray(korekta.dni) ? korekta.dni[0] : korekta.dni)) {
                <tr>
                  <td>{{ korekta.nazwisko }}</td>
                  <td>{{ korekta.imie }}</td>
                  <td>
                    @if (Array.isArray(korekta.dni)) {
                      {{ formatDni(korekta.dni, 'shortDate') }}
                    } @else {
                      {{ korekta.dni | date:'fullDate' }}
                    }
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      } @else if (router.url === '/raporty/obecnosci') {
        <table #table>
          <thead>
          <tr>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>Data skanu</th>
          </tr>
          </thead>
          <tbody>
          @if (!condensedMode) {
            @for (obecnosc of result; track obecnosc.id) {
              <tr>
                <td>{{ obecnosc.nazwisko }}</td>
                <td>{{ obecnosc.imie }}</td>
                <td>{{ obecnosc.czas | date : 'medium' }}</td>
              </tr>
            }
          } @else {
            @for (obecnosc of result; track obecnosc.nazwisko + '-' + obecnosc.imie + '-' + obecnosc.czas) {
              <tr>
                <td>{{ obecnosc.nazwisko }}</td>
                <td>{{ obecnosc.imie }}</td>
                <td>{{ formatDni(obecnosc.dni, 'short') }}
              </tr>
            }
          }
          </tbody>
        </table>
      }
    } @else if (result && result.length === 0) {
      <h2>Brak wyników...</h2>
      <p>Nie znaleziono żadnych danych dla wybranych kryteriów.</p>
    } @else {
      <h2>Nie wygenerowano jeszcze raportu...</h2>
      <p>Wybierz opcje u góry aby wygenerować.</p>
    }
  </main>

} @else {
  <div class="raports">
    <h1>Wybierz raport</h1>
    <p>Wybierz raport z menu po lewej stronie.</p>
  </div>
}
