<nav #nav>
  @defer {
    <img ngSrc="assets/hella_chopped.jpg" alt="Logo" class="logo" height="4000" width="3000" (click)="navigateMainPage()">
  } @placeholder (minimum 1000ms) {
    <span class="round placeholder" (click)="navigateMainPage()"></span>
  } @error {
    <span class="round placeholder" (click)="navigateMainPage()"></span>
  }
  @if (!router.url.match('/')) {
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
  }
  <div class="scrollable">
    @if (router.url === '/') {
      <ul class="main-page">
        <li (click)="navigateOsoby()"><i class="fa-regular fa-user"></i>Osoby</li>
        <li routerLink="raporty"><i class="fa-solid fa-table-columns"></i>Raporty</li>
        <li routerLink="cennik"><i class="fa-solid fa-money-bills"></i>Cennik</li>
        <li><i class="fa-regular fa-calendar"></i>Dni nieczynne</li>
        <li><i class="fa-solid fa-lock"></i>Administracja osób</li>
        <li><i class="fa-solid fa-gear"></i>Ustawienia</li>
      </ul>
    } @else if (router.url.includes('/osoby') || router.url.includes('/osoba')) {
      <div class="osoby">
        <i class="fa-solid fa-right-to-bracket exit" (click)="navigateMainPage()"></i>
        <div class="table">
          <h1 routerLink="osoby/zsti"><i class="fa-solid fa-graduation-cap"></i>ZSTI</h1>
          <ol>
            @if (router.url.includes('/osoba') && persons_zsti) {
              <li class="selected">{{ getPersonById(globalInfoService.activeUser.value)?.imie }} {{ getPersonById(globalInfoService.activeUser.value)?.nazwisko![0] }}. <i>({{ getPersonById(globalInfoService.activeUser.value)?.typ_osoby_id === 2 ? 'n.' : getPersonById(globalInfoService.activeUser.value)?.klasa }})</i></li>
            }
            @defer (when persons_zsti) {
              @for (person of persons_zsti; track person.id) {
                <li (click)="selectPerson(person.id)">{{ person.imie }} {{ person.nazwisko[0] }}. <i>({{ person.klasa === '' && person.typ_osoby_id === 2 ? 'n.' : person.klasa }})</i></li>
              } @empty {
                <li><h3>Brak osób w bazie danych.</h3></li>
              }
            } @placeholder (minimum 500ms) {
              @for (i of [0, 1, 2, 3, 4] ; track i) {
                <li class="placeholder"></li>
              }
            } @error {
              <li><h3>Wystąpił błąd podczas ładowania danych.</h3></li>
            }
          </ol>
        </div>
        <div class="table">
          <h1><i class="fa-solid fa-building"></i>Internat</h1>
          <ol>
            <li>Julka W. <i>(LO1)</i></li>
            <li>Dawid C. <i>(LO3)</i></li>
            <li>Jan B. <i>(Koszykarze)</i></li>
            <li>Pyndzel <i>(w.)</i></li>
            <!-- czy wychowawca to też jakaś grupa? -->
          </ol>
        </div>
      </div>
    }
  </div>
</nav>
<app-nav></app-nav>
<main>
  @if (router.url === '/osoby') {
    <div class="osoby">
      <h1>Osoby</h1>
      <p>Wybierz osobę.</p>
    </div>
  } @else {
    <router-outlet></router-outlet>
  }
</main>
