<nav>
  <img ngSrc="assets/hella_chopped.jpg" alt="Logo" class="logo" height="4000" width="3000" (click)="navigateMainPage()">
  @if (!router.url.match('/')) {
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
  }
  @switch (router.url) {
    @case ('/') {
      <ul class="main-page">
        <li routerLink="osoby"><i class="fa-regular fa-user"></i>Osoby</li>
        <li routerLink="raporty"><i class="fa-solid fa-table-columns"></i>Raporty</li>
        <li routerLink="cennik"><i class="fa-solid fa-money-bills"></i>Cennik</li>
        <li><i class="fa-regular fa-calendar"></i>Dni nieczynne</li>
        <li><i class="fa-solid fa-lock"></i>Administracja osób</li>
        <li><i class="fa-solid fa-gear"></i>Ustawienia</li>
      </ul>
    }
    @case ('/osoby') {
      <div class="table">
        <h1><i class="fa-solid fa-graduation-cap"></i>ZSTI</h1>
        <ol>
          <li>Julka C. <i>(2P)</i></li>
        </ol>
      </div>
    }
  }
</nav>
<app-nav></app-nav>
<main>
  <router-outlet></router-outlet>
</main>
