nav {
  height: 100%;
  background-color: var(--color-3);
  grid-row: 1 / span 2;
}
li {
  margin: 15px auto;
  width: 90%;
  border-radius: 10px;
  padding: 5px;
  font-weight: 500;
  font-size: 1.5em;
  transition: background-color 120ms ease-in;
  cursor: pointer;
  color: var(--color-13);
  list-style: none;
  display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
    color: var(--color-12);
    width: 32px;
    height: 32px;
  }
  &:hover {
    background-color: var(--color-5);
  }
}
.logo {
  cursor: pointer;
  margin: 10px 0 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
app-nav {
  grid-column: 2 / span 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  background-color: var(--color-2);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
i.fa-regular, i.fa-solid {
  font-size: 1.2em;
  margin-right: 10px;
  color: var(--color-12);
}
