@use 'index' as i;

:host {
  background-color: var(--secondary);
  color: var(--on-secondary);

  &:hover {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
  }

  &:disabled {
    background-color: var(--surface-dim);
    color: var(--text-muted);
  }

  @include i.button-layout;
}