@let typOsoby = forms.get('typ_osoby')?.value;
<form [formGroup]="forms">
  <fieldset fieldset-default>
    <legend>
      <fa-icon [icon]="faUser" />
      Dane osobowe
    </legend>
    <label label-default>
      <span>Imię i nazwisko:</span>
      <input [attr.aria-errormessage]="forms.get('imie_nazwisko')?.invalid ? 'name-error' : null" [pattern]="namePattern" aria-label="Imię i nazwisko" formControlName="imie_nazwisko" input-default name="imie_nazwisko" placeholder="Imię i nazwisko..." required type="text">
      @if (forms.get('imie_nazwisko')?.invalid) {
        <span class="error" id="name-error">Niepoprawne dane wpisano. Proszę wpisać w formacie <code>[imie] [nazwisko]</code>.</span>
      }
    </label>
    <label label-default>
      <span>Klasa:</span>
      @if (Number(typOsoby) === TypOsoby.NAUCZYCIEL) {
        <input [delayT]="disabledTooltip" [delay]="500" aria-label="Nauczyciel" formControlName="klasa" input-default name="klasa" placeholder="Nauczyciel..." type="text" />
      } @else {
        <input [attr.required]="typOsoby === TypOsoby.UCZEN" aria-label="Klasa" formControlName="klasa" input-default name="klasa" placeholder="Klasa..." type="text">
      }
    </label>
    <label label-one-line>
      <span>Typ osoby:</span>
      <select name="typ_osoby" formControlName="typ_osoby" (change)="updateValidators()" aria-label="Typ osoby">
        <option [value]="TypOsoby.UCZEN">Uczeń</option>
        <option [value]="TypOsoby.NAUCZYCIEL">Nauczyciel</option>
      </select>
    </label>
    <label label-one-line>
      <span>Opłacany przez miasto:</span>
      <switch [label]="'Opłacany przez miasto'" [type]="'2-way'" formControlName="miasto" />
    </label>
    <label label-one-line>
      <span>Uczęszcza:</span>
      <switch [label]="'Uczęszcza'" [type]="'2-way'" formControlName="uczeszcza" />
    </label>
  </fieldset>
  <fieldset fieldset-default>
    <legend>
      <fa-icon [icon]="faUserShield" />
      Dane opiekuna
    </legend>
    <label label-default>
      <span>Imię i nazwisko opiekuna:</span>
      @if (Number(typOsoby) === TypOsoby.NAUCZYCIEL) {
        <input [delayT]="disabledTooltip" [delay]="500" aria-label="Nauczyciel" formControlName="imie_nazwisko_opiekuna" input-default name="imie_nazwisko_opiekuna" placeholder="Nauczyciel..." type="text" />
      } @else {
        <input [attr.aria-errormessage]="forms.get('imie_nazwisko_opiekuna')?.invalid ? 'opiekun-error' : null" [attr.required]="typOsoby === TypOsoby.UCZEN" [pattern]="namePattern" aria-label="Imię i nazwisko opiekuna" formControlName="imie_nazwisko_opiekuna" input-default name="imie_nazwisko_opiekuna" placeholder="Imię i nazwisko opiekuna..." type="text">
        @if (forms.get('imie_nazwisko_opiekuna')?.invalid) {
          <span class="error" id="imie_nazwisko_opiekuna">Niepoprawne dane wpisano. Proszę wpisać w formacie <code>[imie] [nazwisko]</code>.</span>
        }
      }
    </label>
    <label label-default>
      <span>Telefon:</span>
      @if (Number(typOsoby) === TypOsoby.NAUCZYCIEL) {
        <input [delayT]="disabledTooltip" [delay]="500" aria-label="Nauczyciel" formControlName="telefon" input-default name="telefon" placeholder="Nauczyciel..." type="tel" />
      } @else {
        <input [attr.aria-errormessage]="forms.get('telefon')?.invalid ? 'phone-error' : null" [pattern]="phonePattern" aria-label="Telefon" formControlName="telefon" input-default name="telefon" placeholder="Telefon..." required type="tel">
        @if (forms.get('telefon')?.invalid) {
          <span class="error" id="phone-error">Niepoprawny numer telefonu. Proszę wpisać w formacie <code>+48 123456789</code>.</span>
        }
      }
    </label>
    <label label-default>
      <span>Email:</span>
      @if (Number(typOsoby) === TypOsoby.NAUCZYCIEL) {
        <input [delayT]="disabledTooltip" [delay]="500" aria-label="Nauczyciel" formControlName="email" input-default name="email" placeholder="Nauczyciel..." type="email" />
      } @else {
        <input [attr.aria-errormessage]="forms.get('email')?.invalid ? 'email-error' : null" [attr.required]="typOsoby === TypOsoby.UCZEN" aria-label="Email" formControlName="email" input-default name="email" placeholder="Email..." type="email">
        @if (forms.get('email')?.invalid) {
          <span class="error" id="email-error">Niepoprawny adres email. Proszę wpisać poprawny adres email.</span>
        }
      }
    </label>
  </fieldset>
  <div>
    <button button-secondary>
      <fa-icon [icon]="faArrowsRotate" [class.spin]="isRefreshing()" />
      Odśwież dane
    </button>
    <button button-danger>Zarchiwizuj osobę</button>
  </div>
  <div>
    <button (click)="forms.reset()" button-danger type="reset">
      Resetuj
      <fa-icon [icon]="faRotateLeft" />
    </button>
    <button (click)="sendChanges()" [class.sending]="isSending()" button-primary type="submit">
      @if (!isSending()) {
        Prześlij dane
        <fa-icon [icon]="faPaperPlane" />
      } @else {
        Przesyłanie...
        <fa-icon [icon]="faArrowsRotate" class="spin" />
      }
    </button>
  </div>
</form>

<app-tooltip #disabledTooltip [horizontal]="true">
  <fa-icon [icon]="faCircleInfo" />
  <p>Nie można edytować tego pola, ponieważ jest osoba jest zaznaczona jako <b>nauczyciel</b>.</p>
</app-tooltip>