@let isStudent = Number(ZPersonForm.typ_osoby().value()) === TypOsoby.UCZEN;
@let isAdult = Number(ZPersonForm.typ_osoby().value()) === TypOsoby.PELNOLETNI_UCZEN;
<form>
  <fieldset fieldset-default>
    <legend>
      <fa-icon [icon]="icons.faUser" />
      Dane osobowe
    </legend>
    <label label-default>
      @let imie_nazwisko_errors = ZPersonForm.imie_nazwisko().errors();

      <span>Imię i nazwisko:</span>
      <input [field]="ZPersonForm.imie_nazwisko" aria-label="Imię i nazwisko" input-default placeholder="Imię i nazwisko..." type="text">
      @if (imie_nazwisko_errors.length > 0 && ZPersonForm.imie_nazwisko().touched()) {
        @for (error of imie_nazwisko_errors; track error) {
          <span class="error-message">{{ error.message }}</span>
        }
      }
    </label>
    <label label-default>
      @let klasa_errors = ZPersonForm.klasa().errors();

      <span>Klasa:</span>
      <input [delayT]="!isStudent ? disabledTooltip : undefined" [delay]="500" [field]="asStringField(ZPersonForm.klasa)" [placeholder]="isStudent ? 'Klasa...' : 'Nauczyciel...'" aria-label="Klasa" input-default type="text">
      @if (klasa_errors.length > 0 && ZPersonForm.klasa().touched()) {
        @for (error of klasa_errors; track error) {
          <span class="error-message">{{ error.message }}</span>
        }
      }
    </label>
    <label label-one-line>
      @let typ_osoby_errors = ZPersonForm.typ_osoby().errors();

      <span>Typ osoby:</span>
      <dropdown (change)="updateOnTypOsobyChange()" [field]="ZPersonForm.typ_osoby" [values]="typOsobyValues" aria-label="Typ osoby" />
      @if (typ_osoby_errors.length > 0 && ZPersonForm.typ_osoby().touched()) {
        @for (error of typ_osoby_errors; track error) {
          <span class="error-message">{{ error.message }}</span>
        }
      }
    </label>
    <label label-one-line>
      @let miasto_errors = ZPersonForm.miasto().errors();

      <span>Opłacany przez miasto:</span>
      <switch [field]="ZPersonForm.miasto" [label]="'Opłacany przez miasto'" [type]="'2-way'" />
      @if (miasto_errors.length > 0 && ZPersonForm.miasto().touched()) {
        @for (error of miasto_errors; track error) {
          <span class="error-message">{{ error.message }}</span>
        }
      }
    </label>
    <label label-one-line>
      @let uczeszcza_errors = ZPersonForm.uczeszcza().errors();

      <span>Uczęszcza:</span>
      <switch [field]="ZPersonForm.uczeszcza" [label]="'Uczęszcza'" [type]="'2-way'" />
      @if (uczeszcza_errors.length > 0 && ZPersonForm.uczeszcza().touched()) {
        @for (error of uczeszcza_errors; track error) {
          <span class="error-message">{{ error.message }}</span>
        }
      }
    </label>
  </fieldset>
  <fieldset fieldset-default>
    <legend>
      <fa-icon [icon]="icons.faUserShield" />
      Dane opiekuna
    </legend>
    <label label-default>
      @let imie_nazwisko_opiekuna_errors = ZPersonForm.imie_nazwisko_opiekuna().errors();

      <span>Imię i nazwisko opiekuna:</span>
      <input [delayT]="isAdult ? disabledAdultTooltip : !isStudent ? disabledTooltip : undefined" [delay]="500" [field]="asStringField(ZPersonForm.imie_nazwisko_opiekuna)" [placeholder]="isStudent ? 'Imię i nazwisko opiekuna...' : isAdult ? 'Pełnoletni uczeń...' : 'Nauczyciel...'" aria-label="Imię i nazwisko opiekuna" input-default type="text">
      @if (imie_nazwisko_opiekuna_errors.length > 0 && ZPersonForm.imie_nazwisko_opiekuna().touched()) {
        @for (error of imie_nazwisko_opiekuna_errors; track error) {
          <span class="error-message">{{ error.message }}</span>
        }
      }
    </label>
    <label label-default>
      @let telefon_errors = ZPersonForm.telefon().errors();

      <span>Telefon:</span>
      <input [delayT]="!isStudent ? disabledTooltip : undefined" [delay]="500" [field]="asStringField(ZPersonForm.telefon)" [placeholder]="isStudent ? 'Telefon...' : 'Nauczyciel...'" aria-label="Telefon" input-default type="tel">
      @if (telefon_errors.length > 0 && ZPersonForm.telefon().touched()) {
        @for (error of telefon_errors; track error) {
          <span class="error-message">{{ error.message }}</span>
        }
      }
    </label>
    <label label-default>
      @let email_errors = ZPersonForm.email().errors();

      <span>Email:</span>
      <input [delayT]="!isStudent ? disabledTooltip : undefined" [delay]="500" [field]="asStringField(ZPersonForm.email)" [placeholder]="isStudent ? 'Email...' : 'Nauczyciel...'" aria-label="Email" input-default type="email">
      @if (email_errors.length > 0 && ZPersonForm.email().touched()) {
        @for (error of email_errors; track error) {
          <span class="error-message">{{ error.message }}</span>
        }
      }
    </label>
  </fieldset>
  <div>
    <button button-secondary>
      <fa-icon [class.spin]="isRefreshing()" [icon]="icons.faArrowsRotate" />
      Odśwież dane
    </button>
    <button button-danger>Zarchiwizuj osobę</button>
  </div>
  <div>
    <button (click)="ZPersonForm().reset()" button-danger type="reset">
      Resetuj
      <fa-icon [icon]="icons.faRotateLeft" />
    </button>
    <button (click)="sendChanges()" [class.sending]="isSending()" button-primary type="submit">
      @if (!isSending()) {
        Prześlij dane
        <fa-icon [icon]="icons.faPaperPlane" />
      } @else {
        Przesyłanie...
        <fa-icon [icon]="icons.faArrowsRotate" class="spin" />
      }
    </button>
  </div>
</form>

<app-tooltip #disabledTooltip [horizontal]="true">
  <fa-icon [icon]="icons.faCircleInfo" />
  <p>Nie można edytować tego pola, ponieważ jest osoba jest zaznaczona jako <b>nauczyciel</b>.</p>
</app-tooltip>

<app-tooltip #disabledAdultTooltip [horizontal]="true">
  <fa-icon [icon]="icons.faCircleInfo" />
  <p>Nie można edytować tego pola, ponieważ jest osoba jest zaznaczona jako <b>pełnoletni uczeń</b>.</p>
</app-tooltip>