@use 'index' as i;

//form {
//  display: grid;
//  padding: 10px;
//  grid-template-columns: repeat(2, 1fr);
//  grid-template-rows: repeat(2, auto);
//  gap: 20px;
//  width: 100%;
//  height: fit-content;
//  background-color: var(--color-5);
//  border-radius: 30px;
//
//  label {
//    @include i.flex-center(column, start, start);
//    @include i.font(1.5em, 500, var(--color-13));
//    gap: 20px;
//    margin-bottom: 10px;
//
//    input {
//      transition: i.transition(outline-color), i.transition(color);
//      width: 30%;
//      font-size: 0.9em;
//      background-color: var(--color-2);
//      padding: 10px 15px;
//      border-radius: 10px;
//      outline: 2px solid transparent;
//
//      &:focus {
//        outline-color: var(--color-10);
//        color: var(--color-13);
//      }
//    }
//  }
//
//  button {
//    @include i.button($padding: 10px, $bg-color: var(--color-7), $color: var(--color-13), $h-bg-color: var(--color-8));
//    width: fit-content;
//    grid-column: 2 / 2;
//    place-self: center end;
//  }
//}
//
//.raports {
//  grid-row: 1 / -1;
//}
//
//.raports, main {
//  @include i.flex-center(column, start, center);
//  width: 100%;
//
//  &:has(h1) {
//    justify-content: center;
//  }
//
//  &.table {
//    display: block;
//  }
//
//  & > div {
//    @include i.flex-center($justify: space-between, $align: center);
//    margin: 0 auto 20px auto;
//    width: 75%;
//  }
//
//  h1, p, h2 {
//    text-align: center;
//  }
//
//  h1, h2 {
//    margin-bottom: 5px;
//  }
//
//  h1 {
//    @include i.font(3em, 600, var(--color-13));
//  }
//
//  h2 {
//    @include i.font(2em, 500, var(--color-13));
//  }
//
//  p {
//    @include i.font(1.5em, 200);
//    font-family: 'Roboto', sans-serif;
//  }
//}
//
//table {
//  @include i.table_normal;
//}
//
//.checkbox-label {
//  @include i.flex-center(row, center, center);
//  @include i.checkbox;
//  gap: 10px;
//}
//
//button {
//  @include i.button($padding: 10px, $bg-color: var(--color-7), $color: var(--color-13), $h-bg-color: var(--color-8));
//}