<main>
  <section>
    <h1>{{ name }}</h1>
    <div (click)="select($event)">
      <button class="selected">Kalendarz</button>
      <button>Edytuj</button>
      <button>Deklaracje</button>
      <button>Płatności</button>
      <button>Karty</button>
      <button>Raport</button>
    </div>
    <div id="content">
      <app-kalendarz [typ]="typ" [name]="name"></app-kalendarz>
      <app-edycja [typ]="typ"></app-edycja>
      <app-deklaracje [typ]="typ"></app-deklaracje>
      <app-platnosci [typ]="typ"></app-platnosci>
      <app-karty [typ]="typ"></app-karty>
    </div>
  </section>
</main>
