@use 'index' as i;

//h1, p {
//  text-align: center;
//}
//
//h1 {
//  @include i.font(3em, 600, var(--color-13));
//  margin-bottom: 5px;
//}
//
//p {
//  @include i.font(1.5em, 200);
//  font-family: 'Roboto', sans-serif;
//}
//
//table {
//  @include i.table_normal(90%);
//
//  button {
//    padding: 10px 15px;
//  }
//}
//
//button {
//  @include i.button($padding: 10px, $color: var(--color-13), $bg-color: var(--color-7), $h-bg-color: var(--color-8));
//}
//
//section {
//  @include i.window;
//
//  & > div {
//    width: 30%;
//    display: grid;
//    grid-template-columns: repeat(2, 1fr);
//
//    & > *:not(button) {
//      grid-column: 1 / -1;
//    }
//  }
//
//  h3 {
//    @include i.font(2em, 500, var(--color-13));
//    text-align: center;
//  }
//
//  p {
//    @include i.font($size: 1.2em, $color: var(--color-13));
//    margin-top: 10px;
//    font-family: 'Roboto', sans-serif;
//    line-height: 1.6;
//  }
//
//  h4 {
//    font-weight: 700;
//    margin-bottom: 10px;
//  }
//
//  button {
//    margin-top: 10px;
//    width: fit-content;
//    height: fit-content;
//    align-self: center;
//
//    &:last-of-type {
//      justify-self: end;
//    }
//  }
//}
//
//main {
//  @include i.flex-center(column, center, center);
//  width: 100%;
//  height: 100%;
//  padding: 20px;
//}
//
//form {
//  display: grid;
//  grid-template-columns: repeat(2, 1fr);
//  width: 95%;
//  height: 95%;
//  margin: auto;
//  background-color: var(--color-3);
//  border-radius: 20px;
//  padding: 20px;
//
//  label {
//    @include i.flex-center(column, center, start);
//    gap: 10px;
//
//    span {
//      @include i.font(1.2em, 500, var(--color-13));
//      margin-left: 10px;
//    }
//
//    input {
//      transition: i.transition(outline-color);
//      outline: 2px solid transparent;
//      border-radius: 20px;
//      padding: 10px 15px;
//      background-color: var(--color-2);
//      font-size: 1.3em;
//
//      &:disabled {
//        background-color: var(--color-1);
//        cursor: not-allowed;
//      }
//
//      &:focus {
//        outline-color: var(--color-10);
//      }
//    }
//
//    select {
//      padding: 10px 15px;
//      background-color: var(--color-2);
//      font-size: 1em;
//      width: 30%;
//      border-radius: 20px;
//    }
//  }
//
//  button {
//    width: fit-content;
//    height: fit-content;
//    font-size: 1.5em;
//    place-self: end;
//    grid-column: 2 / 2;
//  }
//}
