@if (!router.url.includes('/administracja/')) {
  <h1>Administracja Osób</h1>
  <p>Wybierz opcję z panelu.</p>
} @else {
  <main>
    @let url = router.url;
    @if (url.includes('users') && archived_users) {
      <div>
        <table #table>
          <thead>
          <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Klasa</th>
            <th>Typ osoby</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            @for (user of archived_users; track user.id) {
              <tr>
                <td>{{ user.imie }}</td>
                <td>{{ user.nazwisko }}</td>
                <td>{{ user.klasa ? user.klasa : 'Nauczyciel' }}</td>
                <td>{{ user.typ_osoby_id === 1 ? 'Uczeń' : 'Nauczyciel' }}</td>
                <!--                <td><button (click)="openUser(user.id)">Wybierz</button></td>-->
              </tr>
            } @empty {
              <td colspan="4">Brak osób...</td>
            }
          </tbody>
        </table>
      </div>
    } @else if (url.includes('klasy')) {
      Klasa
    } @else if (url.includes('dodaj-osobe')) {
      <form [formGroup]="osobaForm">
        <label>
          <span>Imię i nazwisko:</span>
          <!--          <input type="text" formControlName="imie_nazwisko" placeholder="Imię i nazwisko..." name="imie_nazwisko" id="imie_nazwisko" required>-->
        </label>
        <label>
          <span>Imię i nazwisko opiekuna:</span>
<!--          <input type="text" formControlName="imie_nazwisko_opiekuna" [placeholder]="Number(osobaForm.get('typ_osoby')?.value) === TypOsoby.NAUCZYCIEL ? 'Nauczyciel...' : 'Imię i nazwisko opiekuna...'" name="imie_nazwisko_opiekuna" id="imie_nazwisko_opiekuna">-->
        </label>
        <label>
          <span>Klasa:</span>
<!--          <input type="text" formControlName="klasa" [placeholder]="Number(osobaForm.get('typ_osoby')?.value) === TypOsoby.NAUCZYCIEL ? 'Nauczyciel...' : 'Klasa...'" name="klasa" id="klasa">-->
        </label>
        <label>
          <span>Telefon:</span>
          <!--          <input type="text" formControlName="telefon" placeholder="Telefon..." name="telefon" id="telefon" required>-->
        </label>
        <label>
          <span>Opłacany przez miasto:</span>
          <!--          <select name="miasto" id="miasto" formControlName="miasto" required>-->
          <!--            <option [value]="0">Nie</option>-->
          <!--            <option [value]="1">Tak</option>-->
          <!--          </select>-->
        </label>
        <label>
          <span>Nr kierunkowy:</span>
          <!--          <input type="text" formControlName="nr_kierunkowy" placeholder="Nr Kierunkowy..." name="kierunkowy" id="kierunkowy" required>-->
        </label>
        <label>
          <span>Email:</span>
          <!--          <input type="email" formControlName="email" placeholder="Email..." name="email" id="email" required>-->
        </label>
        <label>
          <span>Typ osoby:</span>
          <!--          <select name="typ_osoby" id="typ_osoby" formControlName="typ_osoby" (change)="onTypOsobyChange()" required>-->
<!--            <option [value]="TypOsoby.UCZEN">Uczeń</option>-->
<!--            <option [value]="TypOsoby.NAUCZYCIEL">Nauczyciel</option>-->
          <!--          </select>-->
        </label>
        <label>
          <span>Uczęszcza:</span>
          <!--          <select name="uczeszcza" id="uczeszcza" formControlName="uczeszcza" required>-->
          <!--            <option [value]="1">Tak</option>-->
          <!--            <option [value]="0">Nie</option>-->
          <!--          </select>-->
        </label>
        <button type="submit" (click)="sendChanges()">Prześlij dane</button>
      </form>
    }
  </main>
}
<!--@if (showWindow !== '') {-->
<!--  <section #window>-->
<!--    <div>-->
<!--      <i class="fa-solid fa-xmark close" (click)="closeWindow()"></i>-->
<!--      @if (showWindow === 'restore') {-->
<!--        <h3>Przywróć osobę</h3>-->
<!--        <p>Czy na pewno chcesz przywrócić osobę <b>{{ selectedUser?.imie }} {{ selectedUser?.nazwisko }}</b>?</p>-->
<!--        <button (click)="closeWindow()">Anuluj</button>-->
<!--        <button (click)="restoreUser()">Przywróć</button>-->
<!--      }-->
<!--    </div>-->
<!--  </section>-->
<!--}-->
