@use 'index' as i;
@use 'header-styles' as h;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &.top {
    justify-content: flex-start;

    h1 {
      font-size: i.$font-size-3xl;
    }
  }
}

