@use 'index' as i;

:host {
  background-color: var(--primary);
  color: var(--on-primary);

  &:hover {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
  }

  &:disabled {
    background-color: var(--surface-dim);
    color: var(--text-muted);
  }

  @include i.button-layout;
}