@use 'index' as i;

:host {
  position: relative;
  width: 60px;
  height: 20px;
  display: inline-block;

  &:focus-within {
    border-radius: i.$border-radius-full;
    outline: 2px solid var(--highlight);
    outline-offset: 1px;
  }

  &.twoWay {
    width: 40px;
  }

  &.on .slider {
    background-color: var(--primary);

    &:before {
      transform: translateX(20px);

      &.twoWay {
        transform: translateX(40px);
      }
    }
  }

  &.all .slider {
    background-color: var(--secondary);

    &:before {
      transform: translateX(40px);
    }
  }
}

span:first-of-type {
  color: var(--text-muted);

  span {
    color: var(--text);
  }
}

span:last-of-type {
  cursor: pointer;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: i.$border-radius-full;
  background-color: var(--border-muted);
  transition: i.transition(background-color, i.$duration-sm);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:before {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: i.$border-radius-full;
    background-color: var(--bg);
    transition: i.transition(transform, i.$duration-sm);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    content: '';
    left: 2px;
    bottom: 2px;
  }
}

button {
  width: 100%;
  padding: i.$padding-2xs i.$padding-xs;
  font-size: inherit;
  border-radius: i.$border-radius-md;
  transition: i.transition(background-color, i.$duration-sm), i.transition(color, i.$duration-sm);

  &:hover, &:focus {
    background-color: color-mix(in oklch, var(--bg) 70%, var(--highlight) 30%);
  }

  &.off {
    color: color-mix(in oklch, var(--danger) 75%, rgb(0 0 0) 25%);

    &:hover, &:focus {
      color: var(--danger);
    }
  }

  &.on {
    color: color-mix(in oklch, var(--success) 75%, rgb(0 0 0) 25%);

    &:hover, &:focus {
      color: var(--success);
    }
  }

  &.all {
    color: color-mix(in oklch, var(--secondary) 70%, rgb(0 0 0) 25%);

    &:hover, &:focus {
      color: var(--secondary);
    }
  }
}

.tooltip-change {
  display: flex;
  gap: i.$padding-sm;
  align-items: center;
  flex-direction: column;
}