@use 'index' as i;

:host {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 7.5% 1fr;
}

router-outlet {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / -1;
  grid-row: 2 / -1
}
