@if (userS.personZ() !== null) {
  @let person = userS.personZ()!;
  <section class="selected-person">
    @let nazwisko_imie = person?.nazwisko + ' ' + person?.imie;
    @let deselect_title = `Odznacz osobę ${ nazwisko_imie }`;
    <h3>Wybrana osoba ZSTI:</h3>
    <p><a [routerLink]="['osoba/zsti/', person?.id, 'kalendarz']">{{ nazwisko_imie }} <i>({{ isTeacher(person) ? 'n.' : person?.klasa }})</i></a></p>
    <button (click)="deselectPerson()" [title]="deselect_title" [attr.aria-label]="deselect_title">
      <fa-icon [icon]="icons.faTimes" />
      Odznacz
    </button>
  </section>
}
<section [class.focused]="ZheaderFocused()">
  <h2 (mouseenter)="ZheaderFocused.set(true)" (mouseleave)="ZheaderFocused.set(false)">
    @let zsti_title = "Przejdź do listy osób ZSTI";
    <a (blur)="ZheaderFocused.set(false)" (focus)="ZheaderFocused.set(true)" [attr.aria-label]="zsti_title" [title]="zsti_title" routerLink="osoby/zsti">
      <fa-icon [icon]="icons.faGraduationCap" />
      ZSTI
    </a>
  </h2>
  <ol>
    @for (person of personsZ; track person.id) {
      @let select_title = `Wybierz osobę ${ person.nazwisko } ${ person.imie }`;
      <li>
        <button (click)="selectPerson(person)" [attr.aria-label]="select_title" [title]="select_title">
          {{ person.nazwisko }} {{ person.imie[0] }}.
          <i>({{ isTeacher(person) ? 'n.' : person.klasa }})</i>
        </button>
      </li>
    } @empty {
      <li class="empty">Nie znaleziono ostatnich odwiedzonych użytkowników.</li>
    }
  </ol>
</section>