<section>
  <h2>Lista dni nieczynnych:</h2>
  <button class="add-button" (click)="openWindow('add')">
    Dodaj dzień nieczynny
    @let add_title = 'Dodaj nowy dzień nieczynne';
    <fa-icon [icon]="faPlus" [title]="add_title" [attr.aria-label]="add_title" />
  </button>

  <button class="refresh-button" (click)="reloadPricing()">
    Odśwież
    @let refresh_title = 'Odśwież dni nieczynne';
    <fa-icon [icon]="faArrowsRotate" [title]="refresh_title" [attr.aria-label]="refresh_title" />
  </button>


</section>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Dzień nieczynny</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @defer (when canceled_days_zsti) {
        @for (canceledDay of canceled_days_zsti; track canceledDay.id; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ canceledDay.dzien | date : 'longDate' }}</td>
            <td>
              <button (click)="selectPricing(canceledDay)">Wybierz</button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td class="empty">Brak dostępnych dni nieczynnych...</td>
          </tr>
        }
      } @placeholder (minimum 500ms) {
        @for (day of [0, 1, 2, 3, 4, 5, 6, 7, 6, 7, 6, 7, 8, 9, 10]; track day) {
          <tr class="placeholder-row">
            <td></td>
            <td></td>
            <td></td>
          </tr>
        }
      }

    </tbody>
  </table>
<!--  <table >-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>#</th>-->
<!--      <th>Dzień Nieczynny</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <div class="table-body-scroll">-->
<!--      <tbody>-->
<!--        @defer (when 1) {-->
<!--          @for (person of []; track 1; let index = $index) {-->
<!--          } @empty {-->
<!--            <tr>-->
<!--              <td colspan="2">Brak dni nieczynnych</td>-->
<!--            </tr>-->
<!--          }-->
<!--        } @placeholder (minimum 1000ms) {-->
<!--          @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track i) {-->
<!--            <tr class="placeholder-row">-->
<!--              @for (j of [1, 2]; track j) {-->
<!--                <td></td>-->
<!--              }-->
<!--            </tr>-->
<!--          }-->
<!--        }-->
<!--      </tbody>-->
<!--    </div>-->
<!--  </table>-->
@if (id) {
<form [formGroup]="pricingForm" class="selected">
    <label>
      <span>Data dnia nieczynnego </span>
      <input type="date" formControlName="dzien" [disabled]="true">
    </label>
    <button type="button" (click)="openWindow('delete')">Usuń dzień nieczynny</button>
</form>
}
<!--<button (click)="openWindow('add')">Dodaj dzień nieczynny</button>-->
@if (showWindow !== '') {
  <section #filter [class]="{'delete': showWindow === 'delete','add': showWindow === 'add'}" class="window">
    <div>
      <fa-icon [icon]="xmarkClose" class="close" (click)="closeWindow()"></fa-icon>
      @if (showWindow === 'delete') {
        <h3>Ostrzeżenie</h3>
        <p>Czy na pewno chcesz usunąć dzień nieczynny z dnia: <b>{{ pricingForm.get('dzien')?.value | date : 'longDate' }}</b> ?</p>
        <button type="button" (click)="deletePricing()">Usuń</button>
        <button type="button" (click)="closeWindow()">Anuluj</button>
      } @else if (showWindow === 'add') {
        <h3>Dodaj Dzień Nieczynny</h3>
        <form [formGroup]="addForm">
          <fieldset>
            <legend><i class="fa-solid fa-money-bill"></i> Dzień nieczynny:</legend>
            <label>
              <span>Data:</span>
              <input type="date" formControlName="dzien">
            </label>
          </fieldset>
          <button type="button" (click)="addCanceledDay()">Dodaj</button>
        </form>
      }
    </div>
  </section>
}
