<header>
  <label>
    <input type="text" name="szukanie osoby" placeholder="Wyszukaj osobę z ZSTI..." [(ngModel)]="searchTerm" (blur)="filterPersons($event)" (keydown)="filterPersons($event)">
    <i class="fa-solid fa-filter" (click)="openFilterMenu()"></i>
    <i class="fa-solid fa-magnifying-glass" (click)="filterPersons($event)"></i>
  </label>
  <span>Znaleziono {{ result?.length ?? '...'}} {{ (this.result?.length ?? 0) === 1 ? "wynik" : ((this.result?.length ?? 0) >= 2 && (this.result?.length ?? 0) <= 4 ? "wyniki" : "wyników") }}.</span>
</header>
<table>
  <thead>
    <tr>
      <th>Numer</th>
      <th>Imię i nazwisko</th>
      <th>Klasa</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @defer (when result) {
      @for (person of result; track person.id; let index = $index) {
        <tr>
          <td>{{ index+1 }}</td>
          <td>{{ person.imie }} {{ person.nazwisko }}</td>
          <td>{{ person.klasa === '' ? 'Nauczyciel' : person.klasa }}</td>
          <td>
            <button (click)="selectPerson(person)">Wybierz</button>
          </td>
        </tr>
      }
    } @placeholder (minimum 1000ms) {
      @for (i of [1,2,3,4,5,6,7,8,9,10]; track i) {
        <tr class="placeholder">
          @for (j of [1,2,3,4]; track j) {
            <td></td>
          }
        </tr>
      }
    }
  </tbody>
</table>
@if (showFilter) {
  <section #section_filter>
    <div>
      <h3>Filtry dla osób ZSTI</h3>
      <i class="fa-solid fa-xmark close" (click)="closeFilterMenu()"></i>
      <form>
        <fieldset>
          <legend><i class="fa-solid fa-user"></i>Dane osobowe</legend>
          <label>
            <span>Imię :</span>
            <input type="text" placeholder="Imię" [(ngModel)]="filter.imie" name="imie">
          </label>
          <label>
            <span>Nazwisko :</span>
            <input type="text" placeholder="Nazwisko" [(ngModel)]="filter.nazwisko" name="nazwisko">
          </label>
          <label>
            <span>Opłacany przez miasto :</span>
            <select [(ngModel)]="filter.miasto" name="miasto">
              <option value="wszyscy">Wszyscy</option>
              <option value="true">Tak</option>
              <option value="false">Nie</option>
            </select>
          </label>
        </fieldset>
        <fieldset>
          <legend><i class="fa-solid fa-graduation-cap"></i>Dane szkolne</legend>
          <label>
            <span>Klasa :</span>
            <input type="text" [placeholder]="filter.typ_osoby === TypOsoby.NAUCZYCIEL ? 'Wybrano nauczyciela...' : 'Klasa'" [value]="filter.typ_osoby === TypOsoby.NAUCZYCIEL ? '' : filter.klasa" [(ngModel)]="filter.klasa" name="klasa" [disabled]="filter.typ_osoby === TypOsoby.NAUCZYCIEL">
          </label>
          <label>
            <span>Typ osoby :</span>
            <select [(ngModel)]="filter.typ_osoby" name="typ_osoby" (change)="cdr.detectChanges()">
              <option [value]="3">Wszyscy</option>
              <option [value]="TypOsoby.UCZEN">Uczeń</option>
              <option [value]="TypOsoby.NAUCZYCIEL">Nauczyciel</option>
            </select>
          </label>
          <label>
            <span>Uczęszcza :</span>
            <select [(ngModel)]="filter.uczeszcza" name="uczeszcza">
              <option [value]="'wszyscy'">Wszyscy</option>
              <option [value]="true">Tak</option>
              <option [value]="false">Nie</option>
            </select>
          </label>
        </fieldset>
        <button (click)="applyFilter()">Zastosuj</button>
      </form>
    </div>
  </section>
}
