@use 'index' as i;

header {
  @include i.flex-center($justify: space-between, $align: center);
  padding: 15px 5%;
  background-color: var(--color-4);
  border-radius: 30px 30px 0 0;

  span {
    @include i.font-500(var(--color-13));
  }
  div {
    @include i.flex-center;
    display: flex;
    align-items: center;
    gap: 20px;
    abbr {
      @include i.flex-center;
      cursor: pointer;
      width: 20px;
      height: 20px;
      &:hover i {
        color: var(--color-13);
      }
      i {
        transition: i.transition(color);
        font-size: 30px;
      }
    }
  }
}

input {
  transition: i.transition(color);
  background-color: transparent;
  color: var(--color-12);

  &:placeholder-shown {
    color: var(--color-11);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-1) !important;
  }
}

header label {
  transition: i.transition(outline-color);
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 15px;
  background-color: var(--color-2);
  border-radius: 30px;
  outline: 2px solid transparent;

  input {
    font-size: 1.3em;
  }

  i {
    @include i.clickable-hover($h-color: var(--color-13));
    font-size: 1.5em;
    margin: 0 10px;
  }

  &:focus-within {
    outline-color: var(--color-10);
  }
}

table {
  @include i.table;
  &:has(tbody > :first-child:not(.placeholder)) {
    border-radius: 0 0 50px 50px;
  }

  position: relative;
  max-height: 90%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.7fr 0.5fr;
  th {
    @include i.font-500(var(--color-13));
    position: sticky;
    top: 0;
    padding: 10px 5px;
    background-color: var(--color-2);
  }
  tr {

    &:nth-child(even) td {
      background-color: var(--color-5);
    }

    &:last-child td {
      border-bottom: 0;
    }
  }

  td {
    @include i.font($size: 1.5em, $color: var(--color-13));
    border-bottom: 2px solid var(--color-10);
    padding: 15px 0;
  }
}

button {
  @include i.button(10px, $bg-color: var(--color-6), $h-bg-color: var(--color-9));
  padding: 10px 50px;
}

.placeholder {
  &:last-child td {
    &:first-child {
      border-radius: 0 0 0 50px;
    }

    &:last-child {
      border-radius: 0 0 50px 0;
    }
  }

  td {
    padding: 30px 0;
    animation: light 1.5s i.$cubic-bezier infinite alternate;
  }
}

section {
  @include i.window;
  @include i.fieldset;
  h3 {
    @include i.font(2em, 500, var(--color-13));
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  button {
    place-self: end;
    grid-column: 2 / 2;
    width: fit-content;
    margin-top: 10px;
  }
}
