@use 'index' as i;
@use 'mixed-apps';

:host {
  margin: auto;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: fit-content;
  padding: i.$padding-xs i.$padding-md;
  display: flex;
  gap: i.$padding-md;
  grid-template-rows: 1fr;
  align-items: center;
  flex-direction: row-reverse;
  border: i.$base-border var(--border-muted);
  background-color: var(--bg);
  border-radius: 0;

  h2{
    position: absolute;
    right: 42.5%;
    transform: translate(50%, 0);
  }

  button {
    position: relative;
  }

}


table {
  grid-template-columns: repeat(3, 1fr);
  margin-top: i.$margin-sm;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  max-height: 50%;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;

  &:nth-child(2n) {
    background-color: var(--bg-light) !important;
    td{
      background-color: var(--bg-light) !important;
    }
  }
}

th {
  padding: i.$padding-2xs i.$padding-xs;
  border: i.$base-border var(--border-muted);
  background-color: var(--bg-light);
  color: var(--text-muted);
}

td {
  padding: i.$padding-sm i.$padding-md;
  font-size: i.$font-size-md;
  border: i.$base-border var(--border-muted);
  color: var(--text);
  text-align: center;

  button:hover, button:focus {
    text-decoration: underline;
    outline: none;
  }

  span {
    padding: i.$padding-3xs i.$padding-2xs;
    display: inline-flex;
    gap: i.$padding-2xs;
    align-items: center;
    border: i.$base-border;
    border-radius: i.$border-radius-md;

    &.yes {
      background-color: color-mix(in oklch, var(--success) 20%, var(--bg) 80%);
      color: var(--success);
    }

    &.no {
      background-color: color-mix(in oklch, var(--danger) 20%, var(--bg) 80%);
      color: var(--danger);
    }

    fa-icon {
      font-size: 0.85em;
    }
  }
}

.placeholder-row td {
  padding: i.$padding-md;
  animation: pulse 2s infinite;
}

h2 {
  text-align: center;
}

section:nth-of-type(1){
  overflow-y: auto;
}

%button {
  padding: i.$padding-2xs i.$padding-xs;
  display: flex;
  gap: i.$padding-2xs;
  align-items: center;
  border-radius: i.$border-radius-md;
  transition: i.transition(border-color, i.$duration-sm), i.transition(background-color, i.$duration-sm) !important;
}

%default-button {
  @extend %button;
  border: i.$base-border var(--border-muted);
  background-color: var(--bg-light);

  &:hover, &:focus {
    background-color: color-mix(in oklch, var(--highlight) 10%, var(--bg-light) 90%);
    border-color: var(--border);
  }
}
.add-button {
  @extend %button;
  border: i.$base-border var(--border-muted);
  background-color: var(--primary);
  color: var(--bg) !important;

  &:hover, &:focus {
    background-color: var(--secondary);
    color: var(--text);
    border-color: var(--border);
  }
}

button {
  font-size: inherit;
}

.filter-button {
  @extend %default-button;
}

.sort-button {
  @extend %default-button;
}

.refresh-button {
  @extend %default-button;
}

form {
  @include i.flex-center(column, space-between, start);
  margin-right: 5%;
  gap: 25px;
  //height: 100%;

  button{
    justify-self: end;
    border-radius: 12px;
    color: var(--bg-light);
    background-color: var(--success);

  }
  h3 {
    @include i.font(1.5em, 500, var(--color-13));
  }

  .checkbox-label {
    user-select: none;
    cursor: pointer;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    width: clamp(200px, 60%, 350px);

    input {
      display: none;
    }

    div {
      @include i.flex-center;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      background-color: var(--color-4);
      cursor: pointer;
      position: relative;
    }

    input[type="checkbox"]:checked + div::after {
      content: '✓';
      font-size: 1.5em;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      position: absolute;
      top: -2px;
      left: 2px;
    }
  }
}


.window {
  div{
    background-color: #222222db;
  }
  form .checkbox-label {
    span {
      margin-bottom: 0;
    }

    div {
      margin-top: 0;
      padding: 0;
    }

    input[type="checkbox"]:checked + div::after {
      top: -3px;
      left: 1px;
    }
  }
}

form.selected {
  width: fit-content;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--bg-light);
  position: relative;
  top: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  button{
    border-radius: 12px;
    color: var(--bg-light);

    &[type="button"] {
      background-color: var(--danger);
    }
    &[type="submit"] {
      background-color: var(--success);
    }
  }
}