@use 'index' as i;

section {
  background-color: var(--color-6);
  border-radius: 30px;
  overflow: hidden;
  height: 100%;
}

button {
  @include i.button($padding: 10px, $color: var(--color-13), $bg-color: var(--color-6), $h-bg-color: var(--color-8));
  font-size: 1.5em;
}

h2 {
  @include i.flex-center;
  @include i.font(2em, 500, var(--color-13));
  gap: 25px;
  padding: 10px 16px;

  span {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.8em;
  }

  i {
    @include i.clickable-hover(var(--color-12), var(--color-13));
  }
}

table {
  @include i.table;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.7fr;

  tr:nth-child(even) td {
    background-color: var(--color-7);
  }

  th {
    @include i.font(1.2em, 500, var(--color-13));
    background-color: var(--color-3);
    padding: 5px 30px;
  }

  td {
    @include i.font(1.2em, 400, var(--color-13));
    @include i.flex-center;
    padding: 10px 0;
    background-color: var(--color-4);
  }

  button {
    font-size: 1em;
    padding: 10px 30px;
  }

  .empty {
    @include i.flex-center;
    @include i.font-500(var(--color-12));
    grid-column: 1 / -1;
    padding: 20px;
  }
}

form {
  @include i.flex-center(column, space-between, start);
  margin-right: 5%;
  gap: 25px;
  height: 100%;

  h3 {
    @include i.font(1.5em, 500, var(--color-13));
  }

  label {
    @include i.flex-center(column, space-between, start);
    gap: 20px;

    &.checkbox-label {
      user-select: none;
      cursor: pointer;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: clamp(200px, 60%, 350px);

      input {
        display: none;
      }

      div {
        @include i.flex-center;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        background-color: var(--color-4);
        cursor: pointer;
        position: relative;
      }

      input[type="checkbox"]:checked + div::after {
        content: '✓';
        font-size: 1.5em;
        width: 24px;
        height: 24px;
        border-radius: 3px;
        position: absolute;
        top: -2px;
        left: 2px;
      }
    }

    span {
      @include i.font-500(var(--color-13));
    }

    input {
      width: 100%;
      font-size: 1em;
      background-color: var(--color-2);
      padding: 10px 20px;
      border-radius: 10px;
    }
  }

  button {
    width: 100%;
  }
}

.filter, .add {
  @include i.fieldset;

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    button {
      grid-column: 2 / 2;
      width: fit-content;
      justify-self: end;
    }
  }
}

.window {
  @include i.window;

  form .checkbox-label {
    span {
      margin-bottom: 0;
    }

    div {
      margin-top: 0;
      padding: 0;
    }

    input[type="checkbox"]:checked + div::after {
      top: -3px;
      left: 1px;
    }
  }

  h3 {
    @include i.font(2.5em, 500, var(--color-13));
    margin-bottom: 20px;
    text-align: center;
  }
}

.delete {
  & > div {
    display: grid;
    width: 30%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;

    *:not(button, b) {
      grid-column: 1 / -1;
    }
  }

  p {
    @include i.font(1.3em, 400, var(--color-12));
    line-height: 30px;
    text-align: justify;

    &:last-of-type b:first-of-type {
      margin-right: 5px;
    }

    b {
      @include i.font(1.1em, 500, var(--color-13));
    }
  }

  button {
    width: 50%;

    &:last-of-type {
      justify-self: end;
    }
  }
}
