@let typOsoby = forms.get('typ_osoby')?.value;
<form [formGroup]="forms">
  <fieldset>
    <legend>
      <fa-icon [icon]="faUser" />
      Dane osobowe
    </legend>
    <label>
      <span>Imię i nazwisko:</span>
      <input type="text" formControlName="imie_nazwisko" placeholder="Imię i nazwisko..." name="imie_nazwisko" aria-label="Imię i nazwisko" [pattern]="namePattern" required [attr.aria-errormessage]="forms.get('imie_nazwisko')?.invalid ? 'name-error' : null">

      @if (forms.get('imie_nazwisko')?.invalid) {
        <span class="error" id="name-error">Niepoprawne dane wpisano. Proszę wpisać w formacie <code>[imie] [nazwisko]</code>.</span>
      }
    </label>
    <label>
      <span>Klasa:</span>
      <input type="text" formControlName="klasa" placeholder="Klasa..." name="klasa" aria-label="Klasa" [disabled]="typOsoby === TypOsoby.NAUCZYCIEL" [required]="typOsoby === TypOsoby.UCZEN">
    </label>
    <label class="one-line">
      <span>Typ osoby:</span>
      <select name="typ_osoby" formControlName="typ_osoby" (change)="updateValidators()" aria-label="Typ osoby">
        <option [value]="TypOsoby.UCZEN">Uczeń</option>
        <option [value]="TypOsoby.NAUCZYCIEL">Nauczyciel</option>
      </select>
    </label>
    <label class="one-line">
      <span>Opłacany przez miasto:</span>
      <app-switch formControlName="miasto" [label]="'Opłacany przez miasto'" [type]="'2-way'" />
    </label>
    <label class="one-line">
      <span>Uczęszcza:</span>
      <app-switch formControlName="uczeszcza" [label]="'Uczęszcza'" [type]="'2-way'" />
    </label>
  </fieldset>
  <fieldset>
    <legend>
      <fa-icon [icon]="faUserShield" />
      Dane opiekuna
    </legend>
    <label>
      <span>Imię i nazwisko opiekuna:</span>
      <input type="text" formControlName="imie_nazwisko_opiekuna" placeholder="Imię i nazwisko opiekuna..." name="imie_nazwisko_opiekuna" aria-label="Imię i nazwisko opiekuna" [pattern]="namePattern" [disabled]="typOsoby === TypOsoby.NAUCZYCIEL" [required]="typOsoby === TypOsoby.UCZEN" [attr.aria-errormessage]="forms.get('imie_nazwisko_opiekuna')?.invalid ? 'opiekun-error' : null">
      @if (forms.get('imie_nazwisko_opiekuna')?.invalid) {
        <span class="error" id="imie_nazwisko_opiekuna">Niepoprawne dane wpisano. Proszę wpisać w formacie <code>[imie] [nazwisko]</code>.</span>
      }
    </label>
    <label>
      <span>Telefon:</span>
      <input type="tel" formControlName="telefon" placeholder="Telefon..." name="telefon" aria-label="Telefon" [pattern]="phonePattern" [attr.aria-errormessage]="forms.get('telefon')?.invalid ? 'phone-error' : null">
      @if (forms.get('telefon')?.invalid) {
        <span class="error" id="phone-error">Niepoprawny numer telefonu. Proszę wpisać w formacie <code>+48 123456789</code>.</span>
      }
    </label>
    <label>
      <span>Email:</span>
      <input type="email" formControlName="email" placeholder="Email" name="email" aria-label="Email" [attr.aria-errormessage]="forms.get('email')?.invalid ? 'email-error' : null">
      @if (forms.get('email')?.invalid) {
        <span class="error" id="email-error">Niepoprawny adres email. Proszę wpisać poprawny adres email.</span>
      }
    </label>
  </fieldset>
  <div>
    <button>
      <fa-icon [icon]="faArrowsRotate" [class.spin]="isRefreshing()" />
      Odśwież dane
    </button>
    <button>Zarchiwizuj osobę</button>
  </div>
  <div>
    <button type="reset" (click)="forms.reset()">
      Resetuj
      <fa-icon [icon]="faRotateLeft" />
    </button>
    <button type="submit" (click)="sendChanges()" [class.sending]="isSending()">
      @if (!isSending()) {
        Prześlij dane
        <fa-icon [icon]="faPaperPlane" />
      } @else {
        Przesyłanie...
        <fa-icon [icon]="faArrowsRotate" class="spin" />
      }
    </button>
  </div>
</form>

@if (showWindow) {
  <section #window>
    <div>
      <i role="button" tabindex="0" class="fa-solid fa-xmark close" (click)="closeWindow()"></i>
      <h3>Czy na pewno chcesz archiwizować?</h3>
      <p>Dla osoby <b>{{ forms.get('imie_nazwisko')?.value!.split(' ')[0] }}</b> <b>{{ forms.get('imie_nazwisko')?.value!.split(' ')[1] }}</b>?</p>
      <h4>Co to oznacza?</h4>
      <p>Oznacza to, że ta osoba oficjalnie nie będzie chodzić na stołówkę i nie będzie mogła mieć przypisanej karty, deklaracji ani płatności.</p>
      <p>Tą czynność można później cofnąć w <i>"Administracja Osób"</i>.</p>
      <button type="button" (click)="closeWindow()">Anuluj</button>
      <button type="button" (click)="archivePerson()">Archiwizuj</button>
    </div>
  </section>
}
