@use 'index' as i;

form {
  width: 100%;
  height: 100%;
  padding: i.$padding-sm i.$padding-lg;
  display: grid;
  gap: i.$padding-md;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 0.15fr;

  @include i.form-buttons;

  button[type="submit"] {
    border: none;
    background-color: var(--primary);
    color: var(--bg);

    &:hover, &:focus {
      background-color: var(--secondary);
      color: var(--bg);
    }
  }
}

fieldset {
  padding: i.$padding-md;
  display: flex;
  gap: i.$padding-xl;
  flex-direction: column;
  border: i.$base-border var(--border-muted);
  border-radius: i.$border-radius-2xl;
}

label {
  display: flex;
  gap: i.$padding-2xs;
  flex-direction: column;
  font-size: i.$font-size-lg;

  &.one-line {
    width: fit-content;
    align-items: center;
    flex-direction: row;
  }


  &:focus-within span:not(.error) {
    border-color: var(--border) !important;
  }

  &:not(.one-line) span:not(.error) {
    transition: i.transition(border-color, i.$duration-sm);
    padding-bottom: i.$padding-3xs;
    border-bottom: i.$base-border var(--border-muted);
  }
}

input {
  &:disabled {
    cursor: not-allowed;
    background-color: var(--bg);
    color: var(--text-muted);

    border-color: var(--border-muted);

    &:hover, &:focus {
      background-color: var(--bg);
      color: var(--text-muted);
      border-color: var(--border-muted);
    }
  }

  @include i.input;
}

select {
  @include i.select;
}

option {
  color: var(--text-muted);

  &:hover, &:focus {
    color: var(--text);
  }
}

legend {
  display: inline-flex;
  gap: i.$padding-3xs;
  align-items: center;
  font-size: i.$font-size-lg;
  color: var(--text-muted);

  fa-icon {
    font-size: 0.9em;
  }
}

div {
  display: flex;
  gap: i.$padding-xl;
  align-items: center;

  &:first-of-type button {
    background-color: color-mix(in oklch, var(--bg-light) 80%, var(--bg) 20%);
    color: var(--text-muted);
    border-color: var(--border-muted);

    &:hover, &:focus {
      background-color: var(--bg-light);
      color: var(--text);
      border-color: var(--border);
    }
  }

  &:last-of-type {
    justify-content: flex-end;
  }

  button {
    font-size: i.$font-size-lg;
  }
}

button fa-icon {
  display: inline-block;
}

.error {
  font-size: i.$font-size-xs;
  color: var(--danger);
}

.spin {
  animation: spin 2s infinite linear;
}
