@use '../../styles.scss';
:host {
  display: grid;
  width: fit-content;
  height: fit-content;
}

span{
  font-weight: normal;
  font-size: 26px;
  align-self: center;
  justify-self: center;
  text-align: center;
}

@media screen and (max-width: 1020px) {
  span{
    font-size: 24px;
  }
}
@media screen and (max-width: 740px) {
  span{
    font-size: 20px;
  }
}
@media screen and (max-width: 635px) {
  span{
    font-size: 16px;
  }
}
