@use 'index' as i;

ul {
  display: flex;
  gap: i.$margin-xl;
  flex-direction: column;
}

li {
  padding: i.$padding-2xs i.$padding-xs;
  display: flex;
  gap: i.$margin-2xs;
  align-items: center;
  cursor: pointer;
  font-size: i.$font-size-md;
  font-weight: 500;
  border: 1px solid var(--border-muted);
  border-radius: i.$border-radius-md;
  background: linear-gradient(45deg, var(--bg), var(--bg-light) 50%, var(--bg-light) 90%, color-mix(in oklch, var(--bg-light) 80%, var(--highlight) 20%) 100%);
  background-size: 400% 400%;
  color: var(--text-muted);
  transition: i.transition(background-position), i.transition(color, i.$duration-sm), i.transition(border-color, i.$duration-sm);

  &:hover {
    background-position: 100% 0;
    color: var(--text);
    border-color: var(--border);
  }

  fa-icon {
    font-size: 1.25em;
  }
}
