@use 'index' as i;

ul {
  display: flex;
  gap: i.$margin-xl;
  flex-direction: column;
}

a {
  width: 100%;
  height: 100%;
  padding: i.$padding-2xs i.$padding-xs;
  display: flex;
  gap: i.$margin-2xs;
  align-items: center;
  font-size: i.$font-size-md;
  font-weight: 500;
  border-radius: i.$border-radius-md;
  color: var(--text-muted);
  transition: i.transition(color, i.$duration-sm);

  &:hover, &:focus {
    color: var(--text);
  }

  &:focus {
    outline-offset: -2px;
  }

  fa-icon {
    font-size: 1.25em;
  }
}

li {
  font-family: 'Inter', i.$font-base;
  border: 1px solid var(--border-muted);
  border-radius: i.$border-radius-md;
  background: linear-gradient(45deg, var(--bg), var(--bg-light) 50%, var(--bg-light) 90%, color-mix(in oklch, var(--bg-light) 80%, var(--highlight) 20%) 100%);
  transition: i.transition(background-position), i.transition(border-color, i.$duration-sm);
  background-size: 400% 400%;

  &:hover, &:focus-within {
    background-position: 100% 0;
    border-color: var(--border);
  }
}
