@use 'index' as i;

:host {
  padding: i.$padding-2xs i.$padding-xs;
  font-size: i.$font-size-sm;
  border: i.$base-border var(--border-muted);
  border-radius: i.$border-radius-md;
  background-color: var(--surface);
  color: var(--text-muted);
  transition: i.transition(border-color, i.$duration-sm), i.transition(color, i.$duration-sm), i.transition(outline, i.$duration-sm);
  outline-color: transparent;

  &.ng-invalid.ng-touched {
    border-color: var(--error);

    &::placeholder {
      color: var(--error);
      opacity: 1;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--surface-dim);
    color: var(--text-muted);
    border-color: var(--border-muted);
  }

  &:read-only {
    background-color: var(--surface);
    color: var(--text-muted) !important;
    border-color: var(--border-muted);
  }

  &:focus {
    outline-color: var(--outline);
  }

  &:hover {
    color: var(--text);
    border-color: var(--border);
  }
}