@use 'index' as i;

span {
  @include i.font-500;
  transition: i.transition(color);
  cursor: pointer;
  user-select: none;

  &:first-child {
    place-self: center start;
  }

  &:nth-child(2) {
    place-self: center;
    cursor: default;
    color: var(--color-13);
  }

  &:last-child {
    place-self: center end;
  }

  &:hover:not(:nth-child(2)) {
    color: var(--color-13);
  }
}
