<nav>
  <h1>Panel Skanowania
    <span class="removable">
      - Stołówki
    </span>
  </h1>
  <img class="removable" ngSrc="/logo.svg" alt="ZSTI" height="50" width="50">

  <app-clock></app-clock>
</nav>
<main #main>
  <app-nfc-scan (nfcOutput)="loadNfcOutput($event)" [class]="loadedUser ? 'loadedUser': ''"></app-nfc-scan>
  <app-user-data-display [class]="loadedUser ? 'loadedUser': ''" [data]="{user, enterInfo}"></app-user-data-display>
  <app-restart [isDisabled]="!loadedUser" (restart)="unloadUser()"></app-restart>
</main>
