<div class="table-container">
  <div>
    <button [dialog]="addPaymentDialog" button-primary>
      Dodaj płatność
      <fa-icon [icon]="icons.faPlus" />
    </button>
    <button (click)="refreshPayments()" [disabled]="isLoading" button-secondary>
      @if (isLoading) {
        Odświeżanie...
      } @else {
        Odśwież płatności
      }
      <fa-icon [class.spin]="isLoading" [icon]="icons.faRotate" />
    </button>
    <button [dialog]="filterDialog" button-default>
      Filtruj płatności
      <fa-icon [icon]="icons.faFilter" />
    </button>
  </div>
  <table table-default>
    <thead>
    <tr>
      <th>#</th>
      <th>Kwota</th>
      <th>Objęty miesiąc</th>
      <th>Wybierz</th>
    </tr>
    </thead>
    <div class="table-body-scroll">
      <tbody>
        @for (payment of shownPayments(); track payment.id; let i = $index) {
          <tr>
            @let year_month = (payment.rok + '-' + payment.miesiac.toString().padStart(2, '0')) | date : 'LLLL yyyy';
            <td>{{ i + 1 }}</td>
            <td>{{ payment.platnosc | currency }}</td>
            <td>{{ year_month }}</td>
            <td>
              @if (!(payment | isSelectedPayment:selectedPayment())) {
                <button (click)="selectedPayment.set(payment)" button-primary>
                  Wybierz
                </button>
              } @else {
                <button button-secondary>
                  Wybrano
                </button>
              }
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4">Brak dostępnych płatności...</td>
          </tr>
        }
      </tbody>
    </div>
  </table>
</div>
@let monthYearLabel = 'Objęty miesiąc i rok płatności';
@let dateLabel = 'Dzień zapłaty płatności';
@let amountLabel = 'Kwota płatności';
@let descriptionLabel = 'Opis płatności';

@let monthYearPlaceholder = 'Wprowadź miesiąc i rok...';
@let datePlaceholder = 'Wybierz datę zapłaty...';
@let amountPlaceholder = 'Wprowadź kwotę...';
@let descriptionPlaceholder = 'Wprowadź opis płatności...';

<form (submit)="$event.preventDefault()">
  @if (selectedPayment()) {
    <fieldset fieldset-default>
      <legend>
        <fa-icon [icon]="icons.faFileInvoiceDollar" />
        Szczegóły płatności
      </legend>
      <label label-default>
        @let selectedMonthYear_errors = platnosciForm.miesiac_rok().errors();
        <span>Objęty rok i miesiąc:</span>
        <input [attr.aria-label]="monthYearLabel" [field]="platnosciForm.miesiac_rok" [placeholder]="monthYearPlaceholder" input-default type="month">
        @if (selectedMonthYear_errors.length > 0) {
          @for (error of selectedMonthYear_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let selectedAmount_errors = platnosciForm.platnosc().errors();
        <span>Kwota:</span>
        <input [attr.aria-label]="amountLabel" [field]="platnosciForm.platnosc" [placeholder]="amountPlaceholder" input-default step="0.1" type="number">
        @if (selectedAmount_errors.length > 0) {
          @for (error of selectedAmount_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let selectedDate_errors = platnosciForm.data().errors();
        <span>Dzień zapłaty:</span>
        <input [attr.aria-label]="dateLabel" [field]="platnosciForm.data" [placeholder]="datePlaceholder" input-default type="date">
        @if (selectedDate_errors.length > 0) {
          @for (error of selectedDate_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let selectedDescription_errors = platnosciForm.opis().errors();
        <span>Opis:</span>
        <input [attr.aria-label]="descriptionLabel" [field]="platnosciForm.opis" [placeholder]="descriptionPlaceholder" input-default type="text">
        @if (selectedDescription_errors.length > 0) {
          @for (error of selectedDescription_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <div>
        @if (platnosciForm().invalid()) {
          <button button-success disabled type="submit">
            Prześlij dane
            <fa-icon [icon]="icons.faPaperPlane" />
          </button>
        } @else {
          <button (click)="updatePayment()" button-success type="submit">
            Prześlij dane
            <fa-icon [icon]="icons.faPaperPlane" />
          </button>
        }
        <button (click)="resetPayment()" button-danger type="reset">
          Resetuj
          <fa-icon [icon]="icons.faRotate" />
        </button>
        <button [dialog]="deletePaymentDialog" button-danger>
          Usuń płatność
          <fa-icon [icon]="icons.faTrash" />
        </button>
      </div>
    </fieldset>
  }
</form>

<app-dialog #deletePaymentDialog>
  <div class="delete-dialog">
    @if (selectedPayment() !== null) {
      @let paymentYearMonth = platnosciForm.miesiac_rok().value();
      @let paymentDate = platnosciForm.data().value();
      @let originalYearMonth = `${ selectedPayment()!.rok }-${ selectedPayment()!.miesiac.toString().padStart(2, '0') }`;
      @let originalDate = selectedPayment()!.data_platnosci;
      <h3>Ostrzeżenie</h3>
      <p>Czy na pewno chcesz usunąć płatność, która obejmuje <b>{{ paymentYearMonth | date : 'LLLL yyyy' }}</b>?</p>
      @if (paymentYearMonth !== originalYearMonth) {
        <p>Oryginalna wartość miesiąca objętego: <b>{{ originalYearMonth | date : 'LLLL yyyy' }}</b>.</p>
      }
      <p>Wpisana dnia <b>{{ paymentDate | date : 'longDate' }}</b>.</p>
      @if (paymentDate !== (originalDate | date : 'yyyy-MM-dd')) {
        <p>Oryginalna wartość dnia płatności: <b>{{ originalDate | date : 'longDate' }}</b>.</p>
      }
    }
    <button (click)="deletePayment(); deletePaymentDialog.hide();" button-danger>
      Usuń
    </button>
    <button (click)="deletePaymentDialog.hide();" button-default>
      Anuluj
    </button>
  </div>
</app-dialog>

<app-dialog #addPaymentDialog>
  <h3>Dodaj płatność</h3>
  <form (submit)="$event.preventDefault()" class="add-payment-form">
    <fieldset fieldset-default>
      <legend>
        <fa-icon [icon]="icons.faFileInvoiceDollar" />
        Szczegóły płatności
      </legend>
      <label label-default>
        @let addMonthYear_errors = addForm.miesiac_rok().errors();
        <span>Objęty rok i miesiąc:</span>
        <input [attr.aria-label]="monthYearLabel" [field]="addForm.miesiac_rok" [placeholder]="monthYearPlaceholder" input-default type="month">
        @if (addMonthYear_errors.length > 0 && addForm.miesiac_rok().touched()) {
          @for (error of addMonthYear_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let addDateInvalid_errors = addForm.data().errors();
        <span>Dzień zapłaty:</span>
        <input [attr.aria-label]="dateLabel" [field]="addForm.data" [placeholder]="datePlaceholder" input-default type="date">
        @if (addDateInvalid_errors.length > 0 && addForm.data().touched()) {
          @for (error of addDateInvalid_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let addAmount_errors = addForm.platnosc().errors();
        <span>Kwota:</span>
        <input [attr.aria-label]="amountLabel" [field]="addForm.platnosc" [placeholder]="amountPlaceholder" input-default step="0.1" type="number">
        @if (addAmount_errors.length > 0 && addForm.platnosc().touched()) {
          @for (error of addAmount_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let addDescription_errors = addForm.opis().errors();
        <span>Opis:</span>
        <input [attr.aria-label]="descriptionLabel" [field]="addForm.opis" [placeholder]="descriptionPlaceholder" input-default type="text">
        @if (addDescription_errors.length > 0 && addForm.opis().touched()) {
          @for (error of addDescription_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
    </fieldset>
    <div>
      <button (click)="addForm().reset()" button-danger type="reset">
        <fa-icon [icon]="icons.faRotate" />
        Resetuj
      </button>
      <button (click)="addPaymentToDB()" button-success type="submit">
        Dodaj płatność
        <fa-icon [icon]="icons.faPlus" />
      </button>
    </div>
  </form>
</app-dialog>

<app-dialog #filterDialog>
  <h3>Filtry</h3>
  <form (submit)="$event.preventDefault()" class="filter-payment-form">
    <fieldset fieldset-default>
      <legend>
        <fa-icon [icon]="icons.faFileInvoiceDollar" />
        Szczegóły płatności
      </legend>
      <label label-default>
        @let filterMonthYear_errors = filterForm.miesiac_rok().errors();
        <span>Objęty rok i miesiąc:</span>
        <input [attr.aria-label]="monthYearLabel" [field]="filterForm.miesiac_rok" [placeholder]="monthYearPlaceholder" input-default type="month">
        @if (filterMonthYear_errors.length > 0 && filterForm.miesiac_rok().touched()) {
          @for (error of filterMonthYear_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let filterDate_errors = filterForm.data().errors();
        <span>Dzień zapłaty:</span>
        <input [attr.aria-label]="dateLabel" [field]="filterForm.data" [placeholder]="datePlaceholder" input-default type="date">
        @if (filterDate_errors.length > 0 && filterForm.data().touched()) {
          @for (error of filterDate_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let filterAmount_errors = filterForm.platnosc().errors();
        <span>Kwota:</span>
        <input [attr.aria-label]="amountLabel" [field]="filterForm.platnosc" [placeholder]="amountPlaceholder" input-default step="0.1" type="number">
        @if (filterAmount_errors.length > 0 && filterForm.platnosc().touched()) {
          @for (error of filterAmount_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let filterDescription_errors = filterForm.opis().errors();
        <span>Opis:</span>
        <input [attr.aria-label]="descriptionLabel" [field]="filterForm.opis" [placeholder]="descriptionPlaceholder" input-default type="text">
        @if (filterDescription_errors.length > 0 && filterForm.opis().touched()) {
          @for (error of filterDescription_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
    </fieldset>
    <div>
      <button (click)="resetFilters()" button-danger type="reset">
        <fa-icon [icon]="icons.faRotate" />
        Wyczyść
      </button>
      <button (click)="applyFilter(); filterDialog.hide();" button-success type="submit">
        Zastosuj
        <fa-icon [icon]="icons.faFilter" />
      </button>
    </div>
  </form>
</app-dialog>