@use 'index' as i;

.notifications {
  position: fixed;
  display: flex;
  gap: i.$padding-lg;
  flex-direction: column;
  transform: translateX(-50%);
  bottom: 1rem;
  left: 50%;
  z-index: 1;
}

.queue-info {
  padding: i.$padding-2xs i.$padding-xs;
  display: flex;
  gap: i.$padding-xs;
  align-items: center;
  font-size: i.$font-size-sm;
  border: i.$base-border var(--border-muted);
  border-radius: i.$border-radius-full;
  background-color: var(--bg);
  color: var(--text-muted);
  z-index: 2;

  button {
    margin-left: auto;
    font-size: 1em;
    transition: i.transition(color, i.$duration-sm);

    &:hover, &:focus {
      color: var(--text);
    }
  }
}
