@use 'index' as i;

.notifications {
  position: fixed;
  display: flex;
  gap: i.$padding-lg;
  flex-direction: column;
  transform: translateX(-50%);
  bottom: 1rem;
  left: 50%;
  z-index: 1;
}

.queue-info {
  background-color: var(--bg);
  border-radius: i.$border-radius-full;
  border: i.$base-border var(--border-muted);
  padding: i.$padding-2xs i.$padding-xs;
  font-size: i.$font-size-sm;
  display: flex;
  align-items: center;
  gap: i.$padding-xs;
  color: var(--text-muted);
  z-index: 2;
}
