<router-outlet />
<!--      } @else if (router.url.includes('/raporty')) {-->
<!--        <div class="raporty all">-->
<!--          <i class="fa-solid fa-right-to-bracket exit" (click)="navigate('','raporty')"></i>-->
<!--          <ul>-->
<!--            <li routerLink="raporty/korekty" [class.active]="router.url.includes('korekty')" ><i class="fa-solid fa-calendar-minus"></i>Korekty</li>-->
<!--            <li routerLink="raporty/obecnosci" [class.active]="router.url.includes('obecnosci')"><i class="fa-solid fa-check-to-slot"></i>Obecności</li>-->
<!--            <li routerLink="raporty/platnosci" [class.active]="router.url.includes('platnosci')"><i class="fa-solid fa-money-bill"></i>Płatności</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      } @else if(router.url.includes('/cennik')){-->
<!--        <div class="cennik all">-->
<!--          <i class="fa-solid fa-right-to-bracket exit" (click)="navigate('','cennik')"></i>-->
<!--          <div class="table">-->
<!--            <h1 tabindex="0" routerLink="cennik/zsti"><i class="fa-solid fa-graduation-cap"></i>ZSTI</h1>-->
<!--          </div>-->
<!--          <div class="table">-->
<!--            <h1 tabindex="0" routerLink="cennik/internat"><i class="fa-solid fa-building"></i>Internat</h1>-->
<!--          </div>-->
<!--        </div>-->
<!--      } @else if (router.url.includes('/nieczynne')){-->
<!--        <div class="nieczynne all">-->
<!--          <i class="fa-solid fa-right-to-bracket exit" (click)="navigate('','nieczynne')"></i>-->
<!--          <div class="table">-->
<!--            <h1 tabindex="0" routerLink="nieczynne/zsti"><i class="fa-solid fa-graduation-cap"></i>ZSTI</h1>-->
<!--          </div>-->
<!--          <div class="table">-->
<!--            <h1 tabindex="0" routerLink="nieczynne/internat"><i class="fa-solid fa-building"></i>Internat</h1>-->
<!--          </div>-->
<!--        </div>-->
<!--      } @else if (router.url.includes('/administracja')) {-->
<!--        <div class="administracja all">-->
<!--          <i class="fa-solid fa-right-to-bracket exit" (click)="navigate('','administracja')"></i>-->
<!--          <ul>-->
<!--            <li role="option" tabindex="0" routerLink="administracja/users"><i class="fa-solid fa-user"></i> Osoby zarchiwizowane</li>-->
<!--            <li role="option" tabindex="0" routerLink="administracja/klasy"><i class="fa-solid fa-users"></i> Klasy</li>-->
<!--            <li role="option" tabindex="0" routerLink="administracja/dodaj-osobe"><i class="fa-solid fa-add"></i> Dodaj osobę</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--}-->
<!--<main>-->
<!--  } @else if (router.url === '/cennik'){-->
<!--    <div class="cennik">-->
<!--      <h1>Cennik</h1>-->
<!--      <p>Wybierz cennik grupy obiadowej.</p>-->
<!--    </div>-->
<!--  } @else if (router.url === '/nieczynne') {-->
<!--    <div class="nieczynne">-->
<!--      <h1>Dni nieczynne</h1>-->
<!--      <p>Wybierz dni nieczynne grupy obiadowej.</p>-->
<!--    </div>-->
<!--  }@else {-->
<!--    <router-outlet></router-outlet>-->
<!--  }-->
<!--</main>-->
