<form [formGroup]="cardForm">
  <fieldset fieldset-default>
    <legend>
      <fa-icon [icon]="faIdCard" />
      Karta
    </legend>
    <label label-default>
      <span>Numer karty:</span>
      <input aria-label="Numer karty" formControlName="key_card" input-default readonly required type="text">
    </label>
    <label label-default>
      <span>Data aktywacji:</span>
      <input aria-label="Data aktywacji" formControlName="data_wydania" input-default readonly required type="date">
    </label>
    <label label-default>
      <span>Ostatnie użycie:</span>
      <input aria-label="Ostatnie użycie" formControlName="ostatnie_uzycie" input-default readonly required type="datetime-local">
    </label>
    <div>
      <button [dialog]="deleteCardDialog" [disabled]="!cardForm.get('key_card')?.value" button-danger>
        <fa-icon [icon]="faTrashCan" />
        Dezaktywuj kartę
      </button>
      <button [dialog]="addCardDialog" button-primary>
        Aktywuj nową kartę
        <fa-icon [icon]="faPlus" />
      </button>
    </div>
  </fieldset>
</form>

<app-dialog #addCardDialog>
  <div class="dialog activate-new-card-dialog">
    <h3>Aktywacja nowej karty</h3>
    <p>Aktywacja nowej karty spowoduje dezaktywację obecnej karty przypisanej do tego użytkownika.</p>
    <p>Czy na pewno chcesz aktywować nową kartę?</p>
    <div>
      <button (click)="addCardDialog.hide()" button-default>
        <fa-icon [icon]="faBan" />
        Anuluj
      </button>
      <button (click)="deleteCard(); addCardDialog.hide()" [dialog]="addCardContinueDialog" button-primary>
        Kontynuuj
        <fa-icon [icon]="faArrowRight" />
      </button>
    </div>
  </div>
</app-dialog>

<app-dialog #addCardContinueDialog>
  <div class="dialog activate-card-dialog">
    <h3>Aktywacja karty</h3>
    <form [formGroup]="addCardForm" class="add-card-form">
      <fieldset fieldset-default>
        <legend>
          <fa-icon [icon]="faIdCard" />
          Karta
        </legend>
        <label label-default>
          <span>Numer karty:</span>
          <input formControlName="key_card" input-default required type="text">
        </label>
      </fieldset>
      <div>
        <button button-danger type="reset">
          <fa-icon [icon]="faRotateLeft" />
          Resetuj
        </button>
        <button (click)="addCard(); addCardContinueDialog.hide()" [disabled]="addCardForm.invalid" button-success type="submit">
          Aktywuj kartę
          <fa-icon [icon]="faCheck" />
        </button>
      </div>
    </form>
  </div>
</app-dialog>

<app-dialog #deleteCardDialog>
  <div class="dialog deactivate-card-dialog">
    <h3>Czy na pewno chcesz zdezaktywować kartę?</h3>
    <h4>Co to oznacza?</h4>
    <p>Oznacza to, że ta osoba nie będzie mogła za pomocą karty przychodzić na stołówkę.</p>
    <div>
      <button (click)="deleteCardDialog.hide()" button-default>
        <fa-icon [icon]="faBan" />
        Anuluj
      </button>
      <button (click)="deleteCard(); deleteCardDialog.hide()" button-danger>
        Tak
        <fa-icon [icon]="faCheck" />
      </button>
    </div>
  </div>
</app-dialog>
