@use 'index' as i;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  gap: i.$padding-sm;
  justify-content: space-between;
}

button {
  font-size: i.$font-size-md;
}

form {
  & > div {
    margin-top: i.$padding-md;
  }

  @include i.form-buttons;
}

fieldset {
  @include i.fieldset;
}

label {
  display: flex;
  gap: i.$padding-2xs;
  flex-direction: column;
  font-size: i.$font-size-lg;
}

input {
  @include i.input;
}

.success-button {
  @include i.success-button;
}

.warning-button {
  @include i.danger-button;
}

.dialog {
  max-width: 20vw;
  display: flex;
  flex-direction: column;
  gap: i.$padding-md;

  h3 {
    font-size: i.$font-size-xl;
    text-align: center;
  }

  button {
    width: fit-content;
  }
}