@use '../../../assets/styles/index' as i;

form {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 20px;

  label {
    @include i.flex-center(column, start, start);
    gap: 10px;

    span {
      @include i.font-500(var(--color-13));
    }

    input {
      transition: i.transition(outline-color);
      width: clamp(150px, 75%, 300px);
      padding: 10px;
      font-size: 1em;
      background-color: var(--color-2);
      border-radius: 10px;

      &:read-only {
        background-color: var(--color-1);
        cursor: not-allowed;
      }
    }
  }

  button {
    align-self: end;
    grid-row: 3 / 3;

    &:last-of-type {
      justify-self: end;
    }
  }
}

button {
  @include i.button($padding: 10px, $bg-color: var(--color-6), $color: var(--color-13), $h-bg-color: var(--color-8));
  font-size: 1.5em;
  width: fit-content;
  height: fit-content;
}

section {
  @include i.window;

  & > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 0.1fr 1fr 0.3fr;
    width: 30%;
    height: 40%;

    & > *:not(button) {
      grid-column: 1 / -1;
    }
  }

  button {
    align-self: end;

    &:last-of-type {
      justify-self: end;
    }
  }

  h3 {
    @include i.font(1.2em, 500, var(--color-13));
    padding: 35px;
    text-align: center;
  }

  h4, p {
    @include i.font($size: 1.2em, $color: var(--color-13));
    font-family: 'Roboto', sans-serif;
  }

  h4 {
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    line-height: 1.6;
  }
}
.addCard {
  @include i.flex-center(column, space-between, center);
  label {
    @include i.flex-center(column, flex-start, center);
  }
  input {
    transition: i.transition(outline-color);
    outline: 2px solid transparent;
    &:focus {
      outline-color: var(--color-10);
    }
  }
  button {
    align-self: center;
  }
}
