@use 'index' as i;
:host {
  background-color: var(--bg-dark);
  border-bottom: 1px solid var(--border);
}


h2 {
  @include i.flex-center;
  @include i.font(1.6em, 500, var(--color-12));
  text-align: center;
  background-color: var(--color-3);
  padding: 5px 20px;
  border-radius: 20px;

  &.center {
    grid-column: 2 / span 1;
  }
}

menu {
  place-self: end center;
  background-color: var(--color-3);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  gap: 30px;

  li {
    @include i.font-500(var(--color-12));
    transition: i.transition(background-color), i.transition(color);
    min-width: 50px;
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;

    &:hover {
      background-color: var(--color-4);
    }

    &.active {
      color: var(--color-13);
      background-color: var(--color-6);
    }
  }
}
