<!--@if (router.url.includes('osoba')) {-->
<!--  <menu>-->
<!--    <li [class]="(infoService.activeTab | async) === 'KALENDARZ' ? 'active' : ''" [routerLink]="['osoba','zsti', infoService.activeUser.value?.id, 'kalendarz']">Kalendarz</li>-->
<!--    <li [class]="(infoService.activeTab | async) === 'DANE' ? 'active' : ''" [routerLink]="['osoba','zsti', infoService.activeUser.value?.id, 'dane']">Dane</li>-->
<!--    <li [class]="(infoService.activeTab | async) === 'DEKLARACJE' ? 'active' : ''" [routerLink]="['osoba', 'zsti', infoService.activeUser.value?.id, 'deklaracje']">Deklaracje</li>-->
<!--  </menu>-->
<!--}-->
<!--<h2 [class]="!router.url.includes('osoba') ? 'center' : ''"> {{ infoService.title | async }} </h2>-->
<!--@if (router.url.includes('osoba')) {-->
<!--  <menu>-->
<!--    <li [class]="(infoService.activeTab | async) === 'PLATNOSCI' ? 'active' : ''" [routerLink]="['osoba','zsti', infoService.activeUser.value?.id, 'platnosci']">Płatności</li>-->
<!--    <li [class]="(infoService.activeTab | async) === 'KARTA' ? 'active' : ''" [routerLink]="['osoba','zsti', infoService.activeUser.value?.id, 'karta']">Karta</li>-->
<!--    <li [class]="(infoService.activeTab | async) === 'RAPORT' ? 'active' : ''" [routerLink]="['osoba', 'zsti', infoService.activeUser.value?.id, 'raport']">Raport</li>-->
<!--  </menu>-->
<!--}-->
