@if (personS.personZ() !== null) {
  @let id = personS.personZ()?.id!;
  <menu>
    <li><a routerLinkActive="active" [routerLink]="['/osoba/zsti', id, 'kalendarz']">Kalendarz</a></li>
    <li><a routerLinkActive="active" [routerLink]="['/osoba/zsti', id, 'dane']">Dane</a></li>
    <li><a routerLinkActive="active" [routerLink]="['/osoba/zsti', id, 'deklaracje']">Deklaracje</a></li>
  </menu>
}
@if (title()) {
  <h2>{{ title() }}</h2>
}
@if (personS.personZ() !== null) {
  @let id = personS.personZ()?.id!;
  <menu>
    <li><a routerLinkActive="active" [routerLink]="['/osoba/zsti', id, 'deklaracje']">Płatności</a></li>
    <li><a routerLinkActive="active" [routerLink]="['/osoba/zsti', id, 'deklaracje']">Karta</a></li>
    <li><a routerLinkActive="active" [routerLink]="['/osoba/zsti', id, 'deklaracje']">Raport</a></li>
  </menu>
}