@use 'index' as i;
@use 'mixed-apps';

form {
  @include i.flex-center(column, space-between, start);
  margin-right: 5%;
  gap: 25px;
  height: 100%;

  h3 {
    @include i.font(1.5em, 500, var(--color-13));
  }

  .checkbox-label {
    @include i.checkbox;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
  }
}


.window {
  form .checkbox-label {
    span {
      margin-bottom: 0;
    }

    div {
      margin-top: 0;
      padding: 0;
    }

    input[type="checkbox"]:checked + div::after {
      top: -3px;
      left: 1px;
    }
  }
}
