<div class="table-container">
  <div>
    <button class="add-declaration" [dialog]="addDeclarationDialog">
      Dodaj deklarację
      <fa-icon [icon]="faPlus" />
    </button>
    <button class="refresh-declarations" (click)="refreshDeclarations()">
      @if (isLoading) {
        Ładowanie...
      } @else {
        Odśwież deklaracje
      }
      <fa-icon [icon]="faRotate" [class.spin]="isLoading" />
    </button>
    <button class="filter-declaration" [dialog]="filterDeclarationsDialog">
      Filtruj deklaracje
      <fa-icon [icon]="faFilter" />
    </button>
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Data rozpoczęcia</th>
      <th>Data zakończenia</th>
      <th>Wybierz</th>
    </tr>
    </thead>
    <div class="table-body-scroll">
      <tbody>
        @for (declaration of shownDeclarations; track declaration.id; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ declaration.data_od | date : 'longDate' }}</td>
            <td>{{ declaration.data_do | date : 'longDate' }}</td>
            <td class="td-button">
              <button [class.selected]="declaration | isSelectedDeclaration:selectedDeclaration()" (click)="selectedDeclaration.set(declaration)">
                @if (declaration | isSelectedDeclaration:selectedDeclaration()) {
                  Wybrano
                } @else {
                  Wybierz
                }
              </button>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4">Brak dostępnych deklaracji...</td>
          </tr>
        }
      </tbody>
    </div>
  </table>
</div>
<form [formGroup]="deklaracjaForm" class="declaration-form">
  @if (selectedDeclaration()) {
    <fieldset [class.error]="selectedDateError" [attr.aria-errormessage]="selectedDateError ? 'error-selected-date' : null">
      <legend>
        <fa-icon [icon]="faCalendar" />
        Daty
      </legend>
      <label>
        @let invalidDataOd = !!deklaracjaForm.get('data_od')?.invalid && !!deklaracjaForm.get('data_od')?.touched;
        <span>Data Rozpoczęcia: </span>
        <input type="date" formControlName="data_od" name="data_rozpoczecia" (change)="updateSelectedDeclaration()" [attr.aria-errormessage]="invalidDataOd ? 'error-data-od' : null" />
        @if (invalidDataOd) {
          <span id="error-data-od" class="error-message">Nieprawidłowa data rozpoczęcia</span>
        }
      </label>
      <label>
        @let invalidDataDo = !!deklaracjaForm.get('data_do')?.invalid && !!deklaracjaForm.get('data_do')?.touched;
        <span>Data Zakończenia: </span>
        <input type="date" formControlName="data_do" name="data_zakonczenia" (change)="updateSelectedDeclaration()" [attr.aria-errormessage]="invalidDataDo ? 'error-data-do' : null" />
        @if (invalidDataDo) {
          <span id="error-data-do" class="error-message">Nieprawidłowa data zakończenia</span>
        }
      </label>
      @if (selectedDateError) {
        <span id="error-selected-date" class="error-message">Data zakończenia musi być późniejsza niż data rozpoczęcia</span>
      }
    </fieldset>
    <fieldset>
      <legend>
        <fa-icon [icon]="faCalendarDay" />
        Dni
      </legend>
      @for (dzien of Array.from(dni.entries()); track $index) {
        <label class="one-line">
          <span>{{ dzien[1] }}</span>
          <app-checkbox formControlName="{{ dzien[0] }}" />
        </label>
      }
    </fieldset>
    <div>
      @if (deklaracjaForm.invalid || selectedDateError) {
        <button type="submit" disabled (click)="$event.preventDefault()" [delayT]="cantSendTooltip" [delay]="500">
          Prześlij dane
          <fa-icon [icon]="faPaperPlane" />
        </button>
      } @else {
        <button type="submit" (click)="updateDeclaration()">
          Prześlij dane
          <fa-icon [icon]="faPaperPlane" />
        </button>
      }
      <button type="reset" (click)="resetDeclaration()">
        Resetuj
        <fa-icon [icon]="faRotate" />
      </button>
      <button type="button" class="remove-declaration" [dialog]="deleteDeclarationDialog">
        Usuń deklaracje
        <fa-icon [icon]="faTrash" />
      </button>
    </div>
  }
</form>
@if (selectedDeclaration()) {
  <app-calendar [declarationsZ]="dbDeclarations()!" [selectedDeclarationZ]="tempSelectedDeclaration()" (hasWrongDays)="isWrong($event, 'edit')" />
}

<app-dialog #addDeclarationDialog>
  <h3>Dodaj Deklarację</h3>
  <form [formGroup]="addForm" class="add-dialog-form" (change)="updateFieldsetAndCalendar()">
    <fieldset [class.error]="addDateError" [attr.aria-errormessage]="addDateError ? 'error-date' : null">
      <legend>
        <fa-icon [icon]="faCalendar" />
        Daty
      </legend>
      <label>
        @let addInvalidDataOd = !!addForm.get('data_od')?.invalid && !!addForm.get('data_od')?.touched;
        <span>Data rozpoczęcia:</span>
        <input type="date" formControlName="data_od" aria-label="Data rozpoczęcia" [attr.aria-errormessage]="addInvalidDataOd ? 'error-data-od' : null" />
        @if (addInvalidDataOd) {
          <span id="error-data-od" class="error-message">Nieprawidłowa data rozpoczęcia</span>
        }
      </label>
      <label>
        @let addInvalidDataDo = !!addForm.get('data_do')?.invalid && !!addForm.get('data_do')?.touched;
        <span>Data zakończenia:</span>
        <input type="date" formControlName="data_do" aria-label="Data zakończenia" [attr.aria-errormessage]="addInvalidDataDo ? 'error-data-do' : null" />
        @if (addInvalidDataDo) {
          <span id="error-data-do" class="error-message">Nieprawidłowa data zakończenia</span>
        }
      </label>
      @if (addDateError) {
        <span id="error-date" class="error-message">Data zakończenia musi być późniejsza niż data rozpoczęcia</span>
      }
    </fieldset>
    <fieldset>
      <legend>
        <fa-icon [icon]="faCalendarDay" />
        Dni
      </legend>
      @for (dzien of Array.from(dni.entries()); track $index) {
        <label class="one-line">
          <span>{{ dzien[1] }}</span>
          <app-checkbox formControlName="{{ dzien[0] }}" />
        </label>
      }
    </fieldset>
    <app-calendar [declarationsZ]="dbDeclarations()!" [selectedDeclarationZ]="addDeclaration()" [isForNewDeclaration]="true" (hasWrongDays)="isWrong($event, 'add')" />
    <button type="reset">
      <fa-icon [icon]="faRotate" />
      Resetuj
    </button>
    @if (addForm.invalid || addDateError) {
      <button type="submit" disabled (click)="$event.preventDefault()" [delayT]="cantSendTooltip" [delay]="500">
        Dodaj
        <fa-icon [icon]="faPlus" />
      </button>
    } @else {
      <button type="submit" (click)="addDeclarationToDB()">
        Dodaj
        <fa-icon [icon]="faPlus" />
      </button>
    }
  </form>
</app-dialog>

<app-dialog #deleteDeclarationDialog>
  <div class="delete-dialog">
    <h3>Ostrzeżenie</h3>
    @let imie_nazwisko = personS.personZ()?.imie + ' ' + personS.personZ()?.nazwisko;
    <p>Czy na pewno chcesz usunąć deklarację z dnia <b>{{ selectedDeclaration()?.data_od | date : 'longDate' }}</b> do dnia <b>{{ selectedDeclaration()?.data_do | date : 'longDate' }}</b>?</p>
    <p>Dla osoby <b>{{ imie_nazwisko }}</b>?</p>
    <button type="button" (click)="deleteDeclaration()">
      Usuń
    </button>
    <button type="button" (click)="deleteDeclarationDialog.hide()">
      Anuluj
    </button>
  </div>
</app-dialog>

<app-dialog #filterDeclarationsDialog>
  <h3>Filtruj deklaracje</h3>
  <form [formGroup]="filterForm" class="filter-dialog-form">
    <fieldset>
      <legend>
        <fa-icon [icon]="faCalendar" />
        Pomiędzy dniami:
      </legend>
      <label>
        @let filterInvalidDataOd = !!filterForm.get('data_od')?.invalid && !!filterForm.get('data_od')?.touched;
        <span>Data rozpoczęcia:</span>
        <input type="date" formControlName="data_od" aria-label="Data rozpoczęcia" [attr.aria-errormessage]="filterInvalidDataOd ? 'error-data-od' : null" />
        @if (filterInvalidDataOd) {
          <span id="error-data-od" class="error-message">Nieprawidłowa data rozpoczęcia</span>
        }
      </label>
      <label>
        @let filterInvalidDataDo = !!filterForm.get('data_do')?.invalid && !!filterForm.get('data_do')?.touched;
        <span>Data zakończenia:</span>
        <input type="date" formControlName="data_do" aria-label="Data zakończenia" [attr.aria-errormessage]="filterInvalidDataDo ? 'error-data-do' : null" />
        @if (filterInvalidDataDo) {
          <span id="error-data-do" class="error-message">Nieprawidłowa data zakończenia</span>
        }
      </label>
    </fieldset>
    <fieldset>
      <legend>
        <fa-icon [icon]="faCalendarDay" />
        Wybierz dni:
      </legend>
      @for (dzien of Array.from(dni.entries()); track $index) {
        <label class="one-line">
          <span>{{ dzien[1] }}</span>
          <app-checkbox formControlName="{{ dzien[0] }}" />
        </label>
      }
    </fieldset>
    <button type="reset" (click)="resetFilter()">
      Wyczyść
      <fa-icon [icon]="faRotate" />
    </button>
    <button type="submit" (click)="applyFilter()">
      Zastosuj
      <fa-icon [icon]="faFilter" />
    </button>
  </form>
</app-dialog>

<app-tooltip #cantSendTooltip>
  <p>Nie zgadzają się dni. Zmień daty, jeżeli w kalendarzu pokazują się błędy albo jak dzień początkowy jest później niż dzień końcowy.</p>
</app-tooltip>