<nav>
  <h2 (click)="main_menu()">Spis Osób</h2>
  <label id="wyszukaj"><input type="text" (input)="szukaj()" placeholder="Szukaj..."></label>
  <section>
    <button (click)="rozwin($event)">ZSTI<img ngSrc="../assets/arrow.svg" alt="strzałka" width="48" height="48"></button>
    <ol (click)="show($event, 'ZSTI')">
      <li *ngFor="let element of StudentListZsti; let i = index" [attr.data-index]="i">
        <span>{{element.imie}} {{element.nazwisko}} <span *ngIf="element.klasa">({{element.klasa}})</span><span *ngIf="!element.klasa">n.</span></span>
      </li>
    </ol>
  </section>
  <section>
    <button (click)="rozwin($event)">Internat<img ngSrc="../assets/arrow.svg" alt="strzałka" width="48" height="48"></button>
    <ol (click)="show($event, 'Internat')">
      <li *ngFor="let element of StudentListInternat; let i = index" [attr.data-index]="i">
        <span>{{element.imie}} {{element.nazwisko}}</span>
      </li>
    </ol>
  </section>
</nav>
<main>
  <app-globalny-panel></app-globalny-panel>
  <app-panel [name]="osoba" [typ]="typ"></app-panel>
</main>
