<nav>
  <h2>Spis Osób</h2>
  <section>
    <button (click)="rozwin($event, 2)">ZSTI<img ngSrc="../assets/arrow.svg" alt="strzałka" width="48" height="48"></button>
    <ol (click)="show($event)">
      <li><span>Dżacek</span></li>
      <li><span>Wojtek</span></li>
      <li><span>Grzesiek</span></li>
    </ol>
  </section>
  <section>
    <button (click)="rozwin($event, 3)">Internat<img ngSrc="../assets/arrow.svg" alt="strzałka" width="48" height="48"></button>
    <ol (click)="show($event)">
      <li><span>Wacek</span></li>
      <li><span>Michał</span></li>
      <li><span>Pablo</span></li>
    </ol>
  </section>
</nav>
<main>
  <app-panel [name]="osoba" [typ]="typ"></app-panel>
</main>
