<nav>
  <h2 (click)="main_menu()">Spis Osób</h2>
  <label id="wyszukaj"><input type="text" (input)="szukaj()" placeholder="Szukaj..."></label>
  <section>
    <button (click)="rozwin($event, 3, false)">ZSTI<img ngSrc="../assets/arrow.svg" alt="strzałka" width="48" height="48"></button>
    <ol (click)="show($event)" >
      <li *ngFor="let element of sorted_zsti_users; let i = index" [attr.data-index]="i"><span>{{element.imie}} {{element.nazwisko}}</span></li>
    </ol>
  </section>
  <section>
    <button (click)="rozwin($event, 4, false)">Internat<img ngSrc="../assets/arrow.svg" alt="strzałka" width="48" height="48"></button>
    <ol (click)="show($event)">
      <li *ngFor="let element of sorted_internat_users; let i = index" [attr.data-index]="i"><span>{{element.imie}} {{element.nazwisko}}</span></li>
    </ol>
  </section>
</nav>
<main>
  <app-globalny-panel></app-globalny-panel>
  <app-panel [name]="osoba" [typ]="typ"></app-panel>
</main>
