nav {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.618em;
    border-right: 2px solid var(--border-color);
}
h2 {
    cursor: pointer;
    margin: 30px 0 10px 0;
    text-align: center;
}
h2:hover {
    text-decoration: underline;
}
#wyszukaj {
    margin: 5px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wyszukaj > input {
    font-size: 0.8em;
    font-family: inherit;
    outline: 0;
    border: 2px solid var(--border-color);
    border-radius: 7px;
    padding: 10px;
    width: 60%;
    margin: 10px 0;
    transition: 150ms ease-in-out all;
}
ol {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 150ms ease-in-out all;
    width: 95%;
    margin-left: 10px;
    padding-left: 0;
    counter-reset: list-counter;
}
li {
    width: 87%;
    margin: 10px 0;
    background-color: var(--secondary-color);
    padding: 10px 10px 10px calc(1.2em + 10px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    list-style: none;
}
li::before {
    content: counter(list-counter) ". ";
    counter-increment: list-counter;
    position: absolute;
    left: 0;
    padding-left: 10px;
    font-size: 1em;
}
nav > section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav > :last-child {
    margin-top: 10px;
}
button {
    width: 90%;
    font-family: inherit;
    padding: 10px;
    font-size: 1.1em;
    border: 2px solid var(--border-color);
    border-radius: 7px;
    background-color: var(--background-color);
    transition: 150ms ease-in-out all;
    cursor: pointer;
    position: relative;
}
button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
.rotate {
    transform: rotate(-180deg);
}
button > img {
    transition: 125ms ease-in;
    position: absolute;
    top: 5px;
    right: 10px;
}
button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
@media only screen and (min-width: 1280px) and (max-width: 1800px) {
    nav {
        font-size: 1.4em;
    }
    img {
        width: 40px;
        height: 40px;
    }
    li {
        width: 82%;
        overflow: auto;
    }
}
