@font-face {
    font-family: 'Inter';
    src: url("Inter-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter Light';
    src: url("Inter-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
:root {
    --disabled-working-day: #A9A9BE;
    --disabled: #c0bfca;
    --disabled-text-color: #0f0f0f;
    --background-color: #fffdfb;
    --primary-color: #cfd5e3;
    --secondary-color: #a1aab9;
    --third-color: #848da7;
    --accent-color: #666a8f;
    --border-color: #525876;
    --text-color: #212121;
}
