<section>
  <h2>Lista dostępnych płatności : <i role="button" tabindex="0" class="fa-solid fa-filter" (click)="openWindow('filter')"></i> @if (checkForFilters()) {
    <span>W użyciu są filtry <abbr title="Zresetuj filtry"><i role="button" tabindex="0" class="fa-solid fa-xmark" (click)="resetFilter()"></i></abbr></span>
  } </h2>
  <table>
    <thead>
    <tr>
      <th>Numer</th>
      <th>Miesiąc & Rok objęty</th>
      <th>Kwota</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
<!--      @for (platnosc of result; track platnosc.id; let i = $index) {-->
<!--        <tr>-->
<!--          <td>{{ i + 1 }}</td>-->
<!--          <td>{{ formatMonth(platnosc.miesiac) }} {{ platnosc.rok }}</td>-->
<!--          <td>{{ platnosc.platnosc }} zł</td>-->
<!--          <td>-->
<!--            <button (click)="selectPayment(platnosc)">Wybierz</button>-->
<!--          </td>-->
<!--          } @empty {-->
<!--        <td class="empty">Brak dostępnych płatności...</td>-->
<!--      }-->
    </tbody>
  </table>
</section>
<form [formGroup]="platnosciForm">
  @defer (when platnosciForm.get('miesiac_rok')?.value) {
    <label>
      <span>Objęty miesiąc i rok :</span>
      <input type="month" formControlName="miesiac_rok" placeholder="Wybierz miesiąc i rok..." required>
    </label>
    <label>
      <span>Kwota :</span>
      <input type="number" formControlName="platnosc" placeholder="Wprowadź kwotę..." min="0" required>
    </label>
    <label>
      <span>Dzień zapłaty :</span>
      <input type="date" formControlName="dataZaplaty" placeholder="Wybierz datę zapłaty..." required>
    </label>
    <label>
      <span>Opis :</span>
      <input type="text" formControlName="opis" placeholder="Wprowadź opis płatności..." maxlength="200">
    </label>
    <button type="submit" (click)="updatePayment()">Prześlij dane</button>
    <button type="button" (click)="openWindow('delete')">Usuń płatność</button>
  }
</form>
<button (click)="openWindow('add')">Dodaj płatność</button>
@if (showWindow !== '') {
  <section #window class="window" [class]="{'filter': showWindow === 'filter','delete': showWindow === 'delete','add': showWindow === 'add'}">
    <div>
      <i class="fa-solid fa-xmark close" role="button" tabindex="0" (click)="closeWindow()"></i>
      @if (showWindow === 'delete') {
        <h3>Ostrzeżenie</h3>
        <p>Czy na pewno chcesz usunąć płatność, która obejmuję <b>{{ formatDate(platnosciForm.get('miesiac_rok')?.value!) }}</b>?</p>
        <p>Wpisana dnia <b>{{ formatDate(platnosciForm.get('dataZaplaty')?.value!) }}</b>.</p>
<!--        <p>Dla osoby <b>{{ infoService.activeUser.value?.imie }}</b> <b>{{ infoService.activeUser.value?.nazwisko }}</b>?</p>-->
        <button type="button" (click)="deletePayment()">Usuń</button>
        <button type="button" (click)="closeWindow()">Anuluj</button>
      } @else if (showWindow === 'add') {
        <h3>Dodaj płatność</h3>
        <form [formGroup]="addForm">
          <fieldset>
            <legend><i class="fa-solid fa-calendar-day"></i>Daty</legend>
            <label>
              <span>Objęty miesiąc i rok :</span>
              <input type="month" formControlName="miesiac_rok" placeholder="Wybierz miesiąc i rok..." required>
            </label>
            <label>
              <span>Dzień zapłaty :</span>
              <input type="date" formControlName="dataZaplaty" placeholder="Wybierz datę zapłaty..." required>
            </label>
          </fieldset>
          <fieldset>
            <legend><i class="fa-solid fa-money-bill"></i>Kwota</legend>
            <label>
              <span>Kwota :</span>
              <input type="number" formControlName="platnosc" placeholder="Wprowadź kwotę..." min="0" required>
            </label>
            <label>
              <span>Opis :</span>
              <input type="text" formControlName="opis" placeholder="Wprowadź opis płatności..." maxlength="200">
            </label>
          </fieldset>
          <button type="submit" (click)="addPayment()">Dodaj płatność</button>
        </form>
      } @else if (showWindow === 'filter') {
        <h3>Filtry</h3>
        <form [formGroup]="filterForm">
          <fieldset>
            <legend><i class="fa-solid fa-calendar-day"></i>Daty</legend>
            <label>
              <span>Objęty miesiąc i rok :</span>
              <input type="month" formControlName="miesiac_rok" placeholder="Wybierz miesiąc i rok...">
            </label>
            <label>
              <span>Dzień zapłaty :</span>
              <input type="date" formControlName="dataZaplaty" placeholder="Wybierz datę zapłaty...">
            </label>
          </fieldset>
          <fieldset>
            <legend><i class="fa-solid fa-money-bill"></i>Kwota</legend>
            <label>
              <span>Kwota :</span>
              <input type="number" formControlName="platnosc" placeholder="Wprowadź kwotę..." min="0">
            </label>
            <label>
              <span>Opis :</span>
              <input type="text" formControlName="opis" placeholder="Wprowadź opis płatności..." maxlength="200">
            </label>
          </fieldset>
          <button type="submit" (click)="applyFilter()">Zastosuj filtry</button>
        </form>
      }
    </div>
  </section>
}
