@use 'index' as i;

:host {
  height: 100%;
  display: grid;
  gap: i.$padding-md;
  grid-template-columns: 0.9fr 1fr;
  padding: i.$padding-md 0;
}

.td-button button {
  margin: auto;
  font-size: i.$font-size-sm;

  &.selected {
    background-color: var(--secondary);

    &:hover, &:focus {
      background-color: var(--secondary);
      color: var(--bg);
    }
  }

  @include i.button-primary;
}


label {
  display: flex;
  gap: i.$padding-2xs;
  flex-direction: column;
  font-size: i.$font-size-lg;

  &.one-line {
    width: fit-content;
    align-items: center;
    flex-direction: row;
  }
}

td {
  font-size: i.$font-size-sm;
}

.table-container {
  display: flex;
  flex-direction: column;

  & > div {
    padding: 0 i.$padding-sm i.$padding-sm i.$padding-sm;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    font-size: i.$font-size-md;
  }
}

.filter-payment {
  @include i.button-default;
  @use 'index' as i;

  :host {
    height: 100%;
    padding: i.$padding-md 0;
    display: grid;
    gap: i.$padding-md;
    grid-template-columns: 0.9fr 1fr;
  }

  .td-button button {
    margin: auto;
    font-size: i.$font-size-sm;

    &.selected {
      background-color: var(--secondary);

      &:hover, &:focus {
        background-color: var(--secondary);
        color: var(--bg);
      }
    }

    @include i.button-primary;
  }


  label {
    display: flex;
    gap: i.$padding-2xs;
    flex-direction: column;
    font-size: i.$font-size-lg;
  }

  fieldset {
    @include i.fieldset;
    transition: i.transition(border-color);

    &.error {
      border-color: var(--danger);
    }
  }

  input {
    @include i.input;
  }


  form {
    display: flex;
    gap: i.$padding-md;
    flex-direction: column;

    div {
      display: flex;
      gap: i.$padding-sm;
      justify-content: space-between;

td {
  font-size: i.$font-size-sm;
}

.table-container {
  display: flex;
  flex-direction: column;

  & > div {
    padding: 0 i.$padding-sm i.$padding-sm i.$padding-sm;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    font-size: i.$font-size-md;
  }
}

.filter-payment {
  @include i.button-default;
}

fieldset {
  @include i.fieldset;
  transition: i.transition(border-color);

  &.error {
    border-color: var(--danger);
  }
}

input {
  @include i.input;
}


form {
  display: flex;
  gap: i.$padding-md;
  flex-direction: column;

  div {
    display: flex;
    gap: i.$padding-sm;
    justify-content: space-between;
  }

  button {
    font-size: i.$font-size-md;
  }

  @include i.form-buttons;
}

.remove-declaration {
  @include i.danger-button;
}

.add-payment {
  height: fit-content;
  justify-self: center;
  font-size: i.$font-size-md;
  @include i.button-primary;
}

.refresh-payment {
  @include i.button-default;

  fa-icon.spin {
    animation: spin 2s linear infinite;
  }
}

.add-payment-form, .filter-payment-form {
  max-width: 40vw;
  display: grid;
  gap: i.$padding-md;

  fieldset {
    min-width: 20vw;
  }
}

h3 {
  margin-bottom: i.$padding-sm;
  font-size: i.$font-size-xl;
  text-align: center;
}

.error-message {
  font-size: i.$font-size-xs;
  color: var(--danger);
}

.delete-payment {
  @include i.danger-button;
}

.delete-dialog {
  max-width: 25vw;
  display: grid;
  gap: i.$padding-md;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;

  h3 {
    grid-column: 1 / -1;
  }

  p {
    grid-column: 1 / -1;
    font-size: i.$font-size-md;
    color: var(--text-muted);

    b {
      color: var(--text);
    }
  }

  button {
    width: fit-content;
    font-size: i.$font-size-md;

    &:first-of-type {
      @include i.danger-button;
    }

    &:last-of-type {
      justify-self: end;
      @include i.button-default;
    }
  }
}

.filter-dialog-form {
  max-width: 30vw;
  display: grid;
  gap: i.$padding-md;
  grid-template-columns: repeat(2, 1fr);

  fieldset {
    min-width: 12vw;
  }

  @include i.form-buttons;
}

@include i.table;
