<main>
  <h1>Witaj w Panelu Administracyjnym</h1>
  <section>
    <div>
      <h2>Najbliższe dni nieczynne</h2>
      <ul>
        <li *ngFor="let element of aktualny_dni_nieczynne; let i = index" [attr.data-index]="i">
          <span>{{element}} <span>{{ daysFromNow(element) }}</span></span>
        </li>
      </ul>
      <button (click)="show()">Pokaż Całość</button>
    </div>
    <div>
      insert raport component here
    </div>
  </section>
  <section>
    <button (click)="dodaj_os(); change_form()" id="dodaj_os">Dodaj Osobę</button>
  </section>
  <section id="dni_nieczynne">
    <section>
      <img ngSrc="../../assets/x.svg" alt="Zamknij" (click)="close()" height="48" width="48">
      <h2>Dni nieczynne stołówki</h2>
      <form name="dni_nieczynne">
        <fieldset>
          <legend>Dodaj dzień</legend>
          <label>Dzień: <input type="number" [min]="minDay" [max]="days_in_month" [value]="day" name="dzien"></label>
          <label>Miesiąc: <select [value]="month" name="miesiac"  (change)="check()">
<!--            [disabled]="element.disabled" - Wyłączyłem bo czasami nie działa :/-->
              <option *ngFor="let element of miesiace; let i = index"  [value]="i" >{{element.month}}</option>
            </select>
          </label>
          <label>Rok: <input type="number" [min]="year" [value]="year" name="rok" (change)="check()"></label>
        </fieldset>
        <select multiple>
          <option *ngFor="let element of dni_nieczynne; let i = index" [value]="element">{{element}} {{ daysFromNow(element) }}</option>
        </select>
      </form>
      <div>
        <button (click)="dodaj()">Dodaj</button>
        <button (click)="usun()">Usuń</button>
      </div>
    </section>
  </section>
  <section id="dodaj_osobe">
    <form name="dodaj" (change)="change_form()">
      <img ngSrc="../../assets/x.svg" alt="Zamknij" (click)="close_os()" height="48" width="48">
      <label>Typ: <select name="typ">
        <option value="wybierz" selected disabled>Zaznacz Opcję</option>
        <option value="ZSTI">ZSTI</option>
        <option value="Internat">Internat</option>
      </select></label>
      <div>
        <fieldset>
          <legend>Dane Podstawowe</legend>
          <label>Imię: <input type="text" name="imie"></label>
          <label>Nazwisko: <input type="text" name="nazwisko"></label>
          <label class="zsti">Typ: <select name="typ_zsti">
            <option value="1">Uczeń</option>
            <option value="2">Nauczyciel</option>
          </select></label>
          <label class="zsti">Klasa: <input type="text" name="klasa"></label>
        </fieldset>
        <fieldset id="deklaracja">
          <legend>Deklaracja Żywieniowa</legend>
          <label>Data od: <input type="date" name="data_od"></label>
          <label>Data do: <input type="date" name="data_do"></label>
          <span class="zsti">Dni żywienia:
            <div>
              <label><input type="checkbox" name="poniedzialek"> Poniedziałek</label>
              <label><input type="checkbox" name="wtorek"> Wtorek</label>
              <label><input type="checkbox" name="sroda"> Środa</label>
              <label><input type="checkbox" name="czwartek"> Czwartek</label>
              <label><input type="checkbox" name="piatek"> Piątek</label>
            </div>
          </span>
          <label class="internat">Wersja posiłku <select name="wersja">
            <option value="1">I</option>
            <option value="2">II</option>
            <option value="3">III</option>
            <option value="4">IV</option>
            <option value="5">V</option>
            <option value="6">VI</option>
            <option value="7">Obiady</option>
          </select></label>
        </fieldset>
      </div>
      <label>Rok Szkolny: <input type="text" max="9" name="rok_szkolny"></label>
      <span><button (click)="dodaj_osobe()" type="button">Dodaj</button></span>
    </form>
  </section>
</main>
