<form [formGroup]="cardForm">
  <label>
    <span>Numer karty :</span>
    <input type="text" formControlName="key_card" readonly required>
  </label>
  <label>
    <span>Data aktywacji :</span>
    <input type="date" formControlName="data_wydania" readonly required>
  </label>
  <label>
    <span>Ostatnie użycie :</span>
    <input type="datetime-local" formControlName="ostatnie_uzycie" readonly required>
  </label>
  <button (click)="openWindow('add')">Aktywuj nową kartę</button>
  <button (click)="openWindow('remove')">Dezaktywuj kartę</button>
</form>
@if (showWindow !== '') {
  <section #window>
    <div>
      <i role="button" tabindex="0" class="fa-solid fa-xmark close" (click)="closeWindow()"></i>
      @if (showWindow === 'remove') {
        <h3>Czy na pewno chcesz zdeaktywować kartę?</h3>
        <h4>Co to oznacza?</h4>
        <p>Oznacza to, że ta osoba nie będzie mogła za pomocą karty przychodzić na stołówkę.</p>
        <button (click)="closeWindow()">Anuluj</button>
        <button (click)="removeCard(true)">Tak</button>
      } @else if (showWindow === 'add') {
        <h3>Czy na pewno chcesz aktywować nową kartę?</h3>
        <h4>Co to oznacza?</h4>
        <p>Oznacza to, że ówczesna karta przestanie działać po zatwierdzeniu opcji i należy aktywować nową.</p>
        <button (click)="closeWindow()">Anuluj</button>
        <button (click)="removeCard(false)">Tak</button>
      } @else if (showWindow === 'add-continue') {
        <h3>Aktywacja karty</h3>
        <form [formGroup]="addCardForm" class="addCard">
          <label>
            <span>Numer karty : </span>
            <input type="text" formControlName="key_card" required>
          </label>
          <button type="submit" (click)="addCard()">Aktywuj kartę</button>
        </form>
      }
    </div>
  </section>
}
