<button (click)="setNewMonth(-1)" primary-text>
  <fa-icon [icon]="icons.faArrowLeft" />
  {{ previousMonth() | titlecase }}
</button>
<button [clickT]="tooltip" [underCursor]="true" secondary-text>{{ currentMonth() | titlecase }}</button>
<button (click)="setNewMonth(1)" primary-text>{{ nextMonth() | titlecase }}
  <fa-icon [icon]="icons.faArrowRight" />
</button>

<app-tooltip #tooltip>
  <p>Zmień miesiąc na:</p>
  <form>
    <label>
      @let month_title = 'Wybierz miesiąc';
      @let isInvalid = monthForm.month().invalid() && monthForm.month().touched() && monthForm.month().dirty();
      <input [attr.aria-label]="month_title" [class.invalid]="isInvalid" [field]="monthForm.month" [title]="month_title" placeholder="YYYY-MM" type="month">
      @if (monthForm.month().errors().length > 0 && isInvalid) {
        @for (error of monthForm.month().errors(); track error) {
          <p class="error-message">{{ error.message }}</p>
        }
      }
    </label>
    @let reset_title = 'Zresetuj wybór miesiąca';
    @let change_title = 'Zmień miesiąc na wybrany';
    <button (click)="monthForm().reset()" [attr.aria-label]="reset_title" [title]="reset_title" button-danger type="reset">Zresetuj</button>
    <button (click)="changeMonth()" [attr.aria-label]="change_title" [disabled]="isInvalid || !monthForm.month().touched()" [title]="change_title" button-success type="submit">Zmień</button>
  </form>
</app-tooltip>