@use 'index' as i;

:host {
  width: 100%;
  padding: i.$padding-2xs i.$padding-xl;
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-light);
  border-bottom: i.$base-border var(--border-muted);
}

button {
  color: var(--text-muted);
  min-width: 30%;
  font-size: i.$font-size-lg;
}

form {
  display: grid;
  gap: i.$padding-sm;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  label {
    width: 300px;
    grid-column: 1 / -1;
  }

  input {
    width: 100%;
    padding: i.$padding-3xs i.$padding-xs;
    font-size: i.$font-size-sm;
    border: i.$base-border var(--border-muted);
    border-radius: i.$border-radius-sm;
    transition: i.transition(border-color, i.$duration-sm);

    &:focus {
      border-color: var(--border);
      outline: none;
    }

    &.invalid {
      border-color: var(--danger);
    }
  }

  span {
    margin-top: i.$padding-2xs;
    display: inline-block;
    text-align: left;
    font-size: i.$font-size-xs;
    color: var(--danger);
  }

  button {
    font-size: i.$font-size-xs;

    &:disabled {
      cursor: not-allowed;

      &[type="submit"] {
        background-color: color-mix(in oklch, var(--success) 10%, var(--bg) 90%);
        color: var(--text-muted);

        &:hover, &:focus {
          background-color: color-mix(in oklch, var(--success) 10%, var(--bg) 90%);
          color: var(--text-muted);
        }
      }
    }
  }

  @include i.form-buttons;
}