@use 'variables' as v;
@use 'functions' as f;

@mixin button-layout {
  padding: v.$padding-2xs v.$padding-xs;
  display: flex;
  gap: v.$padding-2xs;
  align-items: center;
  border-radius: v.$border-radius-md;
  transition: f.transition(border-color, v.$duration-sm), f.transition(background-color, v.$duration-sm), f.transition(color, v.$duration-sm);
}

@mixin button-default {
  @include button-layout;
  color: var(--text-muted);
  border: v.$base-border var(--border-muted);
  background-color: var(--bg-light);
  transition: f.transition(border-color, v.$duration-sm), f.transition(background-color, v.$duration-sm), f.transition(color, v.$duration-sm);

  &:hover, &:focus {
    background-color: color-mix(in oklch, var(--highlight) 10%, var(--bg-light) 90%);
    border-color: var(--border);
    color: var(--text);
  }
}

@mixin button-primary {
  @include button-layout;
  color: var(--bg);
  background-color: var(--primary);
  transition: f.transition(border-color, v.$duration-sm), f.transition(background-color, v.$duration-sm), f.transition(color, v.$duration-sm);

  &:hover, &:focus {
    background-color: var(--secondary);
    color: var(--bg);
  }
}

@mixin fieldset {
  padding: v.$padding-sm v.$padding-md;
  display: flex;
  gap: v.$padding-md;
  flex-direction: column;
  border: v.$base-border var(--border-muted);
  border-radius: v.$border-radius-md;

  legend {
    display: inline-flex;
    gap: v.$padding-3xs;
    align-items: center;
    font-size: v.$font-size-lg;
    color: var(--text-muted);

    fa-icon {
      font-size: 0.9em;
    }
  }
}


@mixin table {
  table {
    width: 100%;
    overflow: auto;
    border-spacing: 0;
  }

  .table-body-scroll {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
  }

  thead {
    display: block;
    width: 100%;
  }

  tr {
    width: 100%;
    display: table;
    table-layout: fixed;

    &:nth-child(even) {
      background-color: var(--bg-light);
    }
  }

  th {
    padding: v.$padding-2xs v.$padding-xs;
    border: v.$base-border var(--border-muted);
    background-color: var(--bg-light);
    color: var(--text-muted);
  }

  td {
    padding: v.$padding-sm v.$padding-md;
    font-size: v.$font-size-md;
    border: v.$base-border var(--border-muted);
    color: var(--text);
    text-align: center;
  }
}


@mixin sidebar-item-layout {
  padding: v.$padding-2xs v.$padding-xs;
  display: flex;
  gap: v.$margin-2xs;
  align-items: center;
  font-size: v.$font-size-md;
  font-weight: 500;
  border-radius: v.$border-radius-md;
  color: var(--text-muted);
  transition: f.transition(color, v.$duration-sm);

  &:hover, &:focus {
    color: var(--text);
  }

  &:focus {
    outline-offset: -2px;
  }

  fa-icon {
    font-size: 1.25em;
  }
}

@mixin sidebar-item {
  font-family: 'Inter', v.$font-base;
  border: 1px solid var(--border-muted);
  border-radius: v.$border-radius-md;
  background: linear-gradient(45deg, var(--bg), var(--bg-light) 50%, var(--bg-light) 90%, color-mix(in oklch, var(--bg-light) 80%, var(--highlight) 20%) 100%);
  transition: f.transition(background-position), f.transition(border-color, v.$duration-sm);
  background-size: 400% 400%;

  &:hover, &:focus-within {
    background-position: 100% 0;
    border-color: var(--border);
  }
}

@mixin success-button {
  @include button-layout;
  border: v.$base-border color-mix(in oklch, var(--success) 80%, var(--bg) 20%);
  background-color: color-mix(in oklch, var(--success) 20%, var(--bg) 80%);
  color: var(--success);

  &:hover, &:focus {
    background-color: var(--success);
    color: var(--bg);
    border-color: var(--success);
  }

  &:disabled {
    background-color: color-mix(in oklch, var(--success) 80%, var(--bg) 20%);
    color: var(--bg);
    border-color: color-mix(in oklch, var(--success) 80%, var(--bg) 20%);
    cursor: not-allowed;
    opacity: 0.6;
  }
}

@mixin danger-button {
  @include button-layout;
  border: v.$base-border color-mix(in oklch, var(--danger) 80%, var(--bg) 20%);
  background-color: color-mix(in oklch, var(--danger) 20%, var(--bg) 80%);
  color: var(--danger);

  &:hover, &:focus {
    background-color: var(--danger);
    color: var(--bg);
    border-color: var(--danger);
  }

  &:disabled {
    background-color: color-mix(in oklch, var(--danger) 80%, var(--bg) 20%);
    color: var(--bg);
    border-color: color-mix(in oklch, var(--danger) 80%, var(--bg) 20%);
    cursor: not-allowed;
    opacity: 0.6;
  }
}

@mixin form-buttons {
  button {
    width: fit-content;

    &[type="submit"] {
      justify-self: end;
    }
  }
}

@mixin select {
  padding: v.$padding-2xs v.$padding-xs;
  cursor: pointer;
  font-size: v.$font-size-xs;
  border: v.$base-border var(--border-muted);
  border-radius: v.$border-radius-md;
  background-color: var(--bg);
  color: var(--text-muted);
  transition: f.transition(border-color, v.$duration-sm), f.transition(color, v.$duration-sm);

  &:hover, &:focus {
    color: var(--text);
    border-color: var(--border);
  }
}

@mixin input {
  padding: v.$padding-2xs v.$padding-xs;
  font-size: v.$font-size-sm;
  border: v.$base-border var(--border-muted);
  border-radius: v.$border-radius-md;
  background-color: var(--bg-light);
  color: var(--text-muted);
  transition: f.transition(border-color, v.$duration-sm), f.transition(color, v.$duration-sm);

  &.ng-invalid.ng-touched {
    border-color: var(--danger);

    &::placeholder {
      color: var(--danger);
      opacity: 1;
    }
  }

  &:hover, &:focus {
    color: var(--text);
    border-color: var(--border);
    outline: none;
  }
}