:root {
  --color-1: #00111C;
  --color-2: #001523;
  --color-3: #001A2C;
  --color-4: #002137;
  --color-5: #00253E;
  --color-6: #002945;
  --color-7: #002E4E;
  --color-8: #003356;
  --color-9: #003A61;
  --color-10: #00406C;
  --color-11: #5E7889;
  --color-12: #A4C1D5;
  --color-13: #EFEFEF;
}
$box-shadow: 15px 9px 48px 6px rgba(0, 0, 0, 0.44);
$short: 200ms;
$medium: 300ms;
$long: 500ms;
$xlong: 750ms;
$cubic-bezier: cubic-bezier(0.25, 0.1, 0.25, 1);
