@use 'assets/font/inter.css';
@use 'assets/styles/index' as i;
@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@mixin positional($width, $height, $b-radius: 25px) {
  width: $width;
  height: $height;
  @if $b-radius != null {
    border-radius: $b-radius;
  }
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-11);
}

.placeholder {
  animation: light 1.5s ease-in-out infinite alternate;
}

input, select, option, button {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Inter', 'Roboto', sans-serif;
  background-color: var(--color-1);
  color: var(--color-12);
}

app-root {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.08fr 1fr;
}

ol, ul, menu {
  list-style: none;
}

app-zsti {
  @include positional(90%, 90%, 50px);
  grid-template-rows: auto 1fr;
  flex-direction: column;
  background-color: var(--color-3);
  max-height: 80vh;
  margin: auto;
}

app-dane {
  @include positional(80%, 80%);
  background-color: var(--color-3);
}

app-kalendarz {
  @include positional(95%, 95%, null);
  row-gap: 25px;
  display: grid;
  grid-template-rows: 0.08fr 1fr;
}

app-deklaracje {
  @include positional(80%, 80%);
  background-color: var(--color-3);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 30px 40px;
}

@keyframes light {
  0% {
    background-color: var(--color-11);
  }
  100% {
    background-color: var(--color-12);
  }
}
