<div class="ustawienia">
  <img ngSrc="../../assets/settings.svg" alt="ustawienia" width="48" height="48" (click)="show()">
</div>

<section>
  <div>
     <img ngSrc="../../assets/x.svg" alt="zamknij" width="48" height="48" (click)="hide()">
    <h2>Ustawienia Kolorów</h2>
    <label><span>Tło:</span>
      <input type="color" [(ngModel)]="color.background_color">
      <span>HEX : <span>{{ color.background_color }}</span></span>
    </label>
    <label><span>Primary:</span>
      <input type="color" [(ngModel)]="color.primary_color">
      <span>HEX : <span>{{ color.primary_color }}</span></span>
    </label>
    <label><span>Secondary:</span>
      <input type="color" [(ngModel)]="color.secondary_color">
      <span>HEX : <span>{{ color.secondary_color }}</span></span>
    </label>
    <label><span>Third:</span>
      <input type="color" [(ngModel)]="color.third_color">
      <span>HEX : <span>{{ color.third_color }}</span></span>
    </label>
    <label><span>Accent:</span>
      <input type="color" [(ngModel)]="color.accent_color">
      <span>HEX : <span>{{ color.accent_color }}</span></span>
    </label>
    <label><span>Border:</span>
      <input type="color" [(ngModel)]="color.border_color">
      <span>HEX : <span>{{ color.border_color }}</span></span>
    </label>
    <label><span>Text:</span>
      <input type="color" [(ngModel)]="color.text_color">
      <span>HEX : <span>{{ color.text_color }}</span></span>
    </label>
    <label><span>Gradient</span>
      <input type="color" [(ngModel)]="color.gradient">
      <span>HEX : <span>{{ color.gradient }}</span></span>
    </label>
    <button (click)="save()">Zapisz</button>
    <button (click)="reset()">Reset</button>
  </div>
</section>
