<section class="kalendarz">
  <section id="date">
    <span id="default_month" (click)="default_date()">Bieżący Miesiąc</span>
    <span id="change_month">
      <span (click)="change_month(-1)"> <img ngSrc="../../assets/arrow_back.svg" alt="miesiąc w tył" height="48" width="48"> {{ month_before }}</span>
      <span>{{ currentDate }}</span>
      <span (click)="change_month(1)">{{ month_next }} <img ngSrc="../../assets/arrow_forward.svg" alt="miesiąc w przód" height="48" width="48"> </span>
    </span>
    <span id="dni"></span>
    </section>
    <section id="content">
      <div id="zaznacz" (click)="select_row($event)"></div>
      <section id="kalendarz" (click)="select($event)" (contextmenu)="select($event)"></section>
    </section>
    <section id="zmiana_posilku">
      <section id="zmiana">
        <img ngSrc="../../assets/x.svg" alt="zamknij" (click)="close()" width="12" height="12">
        <form name="zmiana_posilku">
          <h3>Rodzaj posiłku</h3>
          <div>
            <label><input type="radio" name="posilek" value="sniadanie">Śniadanie</label>
            <label><input type="radio" name="posilek" value="obiad">Obiad</label>
            <label><input type="radio" name="posilek" value="kolacja">Kolacja</label>
            <label><input type="radio" name="posilek" value="wszystko">Wszystko</label>
          </div>
        </form>
        <form name="na">
          <h3>Nieobecność</h3>
          <div>
            <label><input type="radio" name="na" value="być">Nie</label>
            <label><input type="radio" name="na" value="nie_być">Tak</label>
          </div>
        </form>
        <button type="submit" (click)="zmien_posilek($event)">Wprowadź</button>
      </section>
    </section>
</section>
