<section class="kalendarz">
  <section id="date">
    <span id="change_month">
      <span (click)="change_month(-1)"> <img ngSrc="../../assets/arrow_back.svg" alt="miesiąc w tył" height="48" width="48"> {{ month_before }}</span>
      <span>{{ currentDate }}</span>
      <span (click)="change_month(1)">{{ month_next }} <img ngSrc="../../assets/arrow_forward.svg" alt="miesiąc w przód" height="48" width="48"> </span>
    </span>
    <span id="dni"></span>
    </section>
    <section id="content">
      <div id="zaznacz" (click)="select_row($event)"></div>
      <section id="kalendarz" (click)="select($event)"(contextmenu)="select($event)"></section>
    </section>
</section>
