<section class="kalendarz">
  <section id="date">
    <span id="change_month">
      <!-- <img ngSrc="angularFrontend/panel_administracyjny/src/app/kalendarz/assets/arrow_back.svg" alt="miesiąc w tył" height="48" width="48"> -->
      <!-- <img ngSrc="angularFrontend/panel_administracyjny/src/app/kalendarz/assets/arrow_forward.svg" alt="miesiąc w przód" height="48" width="48">  -->
      <span (click)="change_month(-1)"> {{ month_before }}</span>
      <span id="current_date">{{ currentDate }}</span>
      <span (click)="change_month(1)"> {{ month_next }}</span>
    </span>
    </section>
    <section id="content"></section>
</section>
