@use 'assets/font/inter/inter.css';
@use 'assets/font/manrope/manrope.css';
@use 'assets/styles/index' as i;

@mixin positional($width, $height, $b-radius: 25px) {
  width: $width;
  height: $height;
  @if $b-radius != null {
    border-radius: $b-radius;
  }
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: 2px solid var(--highlight);
  border-radius: i.$border-radius-sm;
}

::selection {
  background-color: var(--highlight);
  color: var(--text);
}

input, select, option, button {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes out {
  to {
    margin-left: 50%;
    opacity: 0;
  }
}

@keyframes in {
  from {
    margin-left: -50%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.placeholder {
  background-color: var(--highlight);
  animation: pulse i.$duration-xl infinite alternate i.$cubic-in-out;
}

::view-transition-old(page) {
  animation: out i.$duration-lg i.$cubic-in-out forwards;
}

::view-transition-new(page) {
  animation: in i.$duration-lg i.$cubic-in-out forwards;
}

.change-sidebar {
  view-transition-name: sidebar;
}

button {
  cursor: pointer;
}

abbr {
  text-decoration: none;
}

body {
  font-family: 'Inter', i.$font-base;
  background-color: var(--bg);
  height: 100vh;
  color: var(--text);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', i.$font-base;
  color: var(--text);
}

ol, ul, menu {
  list-style: none;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}


.notification {
  @include i.flex-center(column, start, start);
  transition: i.transition(right, i.$xlong), i.transition(bottom, i.$medium);
  position: absolute;
  bottom: 10%;
  right: -25%;
  width: 300px;
  height: 100px;
  border-left: 5px solid transparent;
  background-color: var(--color-3);
  border-radius: 5px;
  padding: 10px;
  z-index: 3;

  &.done {
    right: 0;
  }

  &.error {
    border-color: #f38ba8;
  }

  &.warning {
    border-color: #f9e2af;
  }

  &.info {
    border-color: #89b4fa;
  }

  &.success {
    border-color: #a6e3a1;
  }

  h2 {
    @include i.font-500(var(--color-13));
  }

  p {
    font-size: 1em;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
