@use 'assets/font/inter/inter.css';
@use 'assets/font/manrope/manrope.css';
@use 'index' as i;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--highlight) var(--bg);
}

.cdk-overlay-backdrop.dialog-backdrop {
  background-color: var(--scrim);
}

:focus-visible {
  border-radius: i.$border-radius-sm;
  outline: 2px solid var(--highlight);
}

::selection {
  background-color: var(--highlight);
  color: var(--text);
}

input, select, option, button {
  font-family: inherit;
  border: none;
  background-color: inherit;
  color: inherit;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes out {
  from {
    opacity: 1;
    filter: blur(5px);
  }
  to {
    opacity: 0;
    filter: blur(0);
  }
}

@keyframes in {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.dialog-backdrop {
  transition: i.transition(backdrop-filter);
  backdrop-filter: none;

  &.visible {
    backdrop-filter: blur(5px);
  }
}

.placeholder {
  background-color: var(--highlight);
  animation: pulse i.$duration-xl infinite alternate i.$cubic-in-out;
}

::view-transition-old(sidebar) {
  animation-duration: 650ms;
  animation-name: -ua-view-transition-fade-out, out;
}

::view-transition-new(sidebar) {
  animation-duration: i.$duration-lg;
  animation-name: -ua-view-transition-fade-in, in;
}

.change-sidebar {
  view-transition-name: sidebar;
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
  font-family: 'Inter', i.$font-base;
  background-color: var(--surface-dim);
  color: var(--text);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', i.$font-base;
  color: var(--text);
}

ol, ul, menu {
  list-style: none;
}

.spin {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
