@use 'assets/font/inter/inter.css';
@use 'assets/font/manrope/manrope.css';
@use 'index' as i;

@mixin positional($width, $height, $b-radius: 25px) {
  width: $width;
  height: $height;
  @if $b-radius != null {
    border-radius: $b-radius;
  }
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: 2px solid var(--highlight);
  border-radius: i.$border-radius-sm;
}

::selection {
  background-color: var(--highlight);
  color: var(--text);
}

input, select, option, button {
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes out {
  to {
    margin-left: 50%;
    opacity: 0;
  }
}

@keyframes in {
  from {
    margin-left: -50%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  transition: i.transition(backdrop-filter);
  backdrop-filter: none;

  &.visible {
    backdrop-filter: blur(5px);
  }
}

.placeholder {
  background-color: var(--highlight);
  animation: pulse i.$duration-xl infinite alternate i.$cubic-in-out;
}

::view-transition-old(page) {
  animation: out i.$duration-lg i.$cubic-in-out forwards;
}

::view-transition-new(page) {
  animation: in i.$duration-lg i.$cubic-in-out forwards;
}

.change-sidebar {
  view-transition-name: sidebar;
}

button {
  cursor: pointer;
}

abbr {
  text-decoration: none;
}

body {
  font-family: 'Inter', i.$font-base;
  background-color: var(--bg);
  height: 100vh;
  color: var(--text);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', i.$font-base;
  color: var(--text);
}

ol, ul, menu {
  list-style: none;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
