<ul>
  <li routerLink="osoby">
    <fa-icon [icon]="faUser" />
    Osoby
  </li>
  <li routerLink="raporty">
    <fa-icon [icon]="faTableColumns" />
    Raporty
  </li>
  <li routerLink="cennik">
    <fa-icon [icon]="faMoneyBills" />
    Cennik
  </li>
  <li routerLink="nieczynne">
    <fa-icon [icon]="faCalendar" />
    Dni nieczynne
  </li>
  <li routerLink="administracja">
    <fa-icon [icon]="faLock" />
    Administracja osób
  </li>
  <li routerLink="ustawienia">
    <fa-icon [icon]="faGear" />
    Ustawienia
  </li>
</ul>
