form[name='deklaracje'] {
    width: 50%;
    padding-top: 10%;
    margin: 0 auto;
}
fieldset {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--border-color);
    border-radius: 10px;
}
fieldset > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.deklaracja {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.deklaracje {
    align-items: center;
    margin: -5px 0 10px 0;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    flex-direction: row;
}
label {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
input {
    font-family: inherit;
    font-size: 1.2em;
    padding: 5px;
    border: 0;
    border-radius: 7px;
    transition: all 30ms ease-in;
}
button {
    width: fit-content;
    font-family: inherit;
    font-size: 1.2em;
    padding: 5px;
    border: 0;
    border-radius: 7px;
    transition: all 150ms ease-in-out;
    background-color: var(--secondary-color);
    cursor: pointer;
}
form[name="deklaracje"] > fieldset > div:nth-of-type(1) button {
    margin-left: 10px;
}
form[name="deklaracje"] fieldset > div:nth-of-type(2) > label {
    background-color: var(--background-color);
}
button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
input:not(input[type="checkbox"],input[type="radio"]):focus {
    outline: var(--border-color) solid 2px;
}
legend {
    font-size: 1.5em;
}
#dodaj_deklaracje {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
form[name="dodaj"] {
    box-shadow: var(--border-color) 0 0 10px;
    position: relative;
    width: 35%;
    margin: 0 auto;
    padding: 30px 0;
    border-radius: 15px;
    background-color: var(--primary-color);
}
form[name="dodaj"] h2 {
    font-size: 2em;
    text-align: center;
    margin: 0 0 20px 0;
}
form[name="dodaj"] > fieldset {
    display: flex;
    width: 90%;
    margin: 0 auto;
    border: 2px solid var(--border-color);
    border-radius: 15px;
}
form[name="dodaj"] > fieldset > div {
    justify-content: start;
}
form[name="dodaj"] label {
    max-width: 90%;
}
.zsti > label {
    font-size: 1.2em;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100%;
    user-select: none;
}
.zsti > label > input {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}
select {
    font-family: inherit;
    font-size: 1.2em;
    padding: 5px;
    border: 0;
    border-radius: 7px;
    transition: all 30ms ease-in;
}
form[name="dodaj"] button {
    font-size: 1.3em;
    position: absolute;
    bottom: 40px;
    right: 40px;
}
form[name="dodaj"] > img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
