@use 'index' as i;

app-date-changer {
  display: grid;
  background-color: var(--color-6);
  padding: 5px 1%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-radius: 20px;
  min-height: 60px;
  height: 100%;
}

section:first-of-type {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  border-radius: 25px;
  background-color: var(--color-3);
  padding: 10px;

  & > div:nth-of-type(2) {
    display: grid;
    place-items: end center;

    button {
      @include i.button($padding: 10px, $bg-color: var(--color-6), $h-bg-color: var(--color-9));
      @include i.font-500(var(--color-13));
    }
  }
}

.select-buttons {
  display: grid;
  margin-top: 45px;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  place-items: center;

  button {
    width: 70px;
    height: 70px;
    border-radius: 10px;

    &:not(:disabled) {
      @include i.background-hover(var(--color-8), var(--color-9));
      cursor: pointer;
    }

    &:disabled {
      background-color: var(--color-5);
      cursor: not-allowed;
      color: var(--color-11);
    }

    i {
      font-size: 35px;
    }
  }
}

main {
  display: grid;
  grid-template-rows: 0.2fr auto;
  row-gap: 5px;
  padding: 5px;
  & > * {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
  }

  .weekdays {
    font-size: 1.5em;
    font-weight: 500;
    height: 45px;
  }

  .day {
    @include i.font-500;
    @include i.flex-center;
    transition: i.transition(background-color), i.transition(color);
    border-radius: 10px;
    width: 70px;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-6);

    &:hover {
      color: var(--color-13);
      background-color: var(--color-7);
    }

    &:disabled, &.no-declaration, &.canceled {
      color: var(--color-11);
      cursor: not-allowed;

      &:not(.no-declaration) {
        background-color: var(--color-2);
      }
    }

    &:not(.no-declaration, :disabled) {
      cursor: pointer;
    }

    &.selected {
      background-color: var(--color-10);
      color: var(--color-13);
    }

    &.no-declaration {
      background-color: var(--color-4);
    }
  }
}

.diff {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h3 {
    @include i.font-500(var(--color-13));
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  table {
    border-radius: 5px;
    height: 200px;
    overflow: hidden;
    width: 75%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(40px, 50px));
    background-color: var(--color-5);

    &:has(> .empty) {
      place-items: center;
      grid-template-rows: 1fr;
    }

    tr {
      @include i.font-500(var(--color-13));
      display: grid;
      width: 100%;
      height: 50px;
      padding: 10px;

      &.empty {
        color: var(--color-12);
      }

      &:last-of-type:not(.empty) {
        grid-template-columns: repeat(2, 1fr);
      }

      &:nth-child(even) {
        background-color: var(--color-7);
      }

      &:not(.empty) > td:first-child {
        margin-left: 70px;
      }

      &.empty {
        place-items: center;
      }

      td:nth-child(2) {
        place-self: center end;
      }

      i {
        color: var(--color-13);
        cursor: pointer;
      }
    }
  }
}

.absenceWindow {
  @include i.window;

  h3 {
    @include i.font(2em, 500, var(--color-13));
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    @include i.table;
    position: relative;
    overflow-y: auto;
    display: grid;
    background-color: var(--color-4);
    grid-template-columns: repeat(3, 1fr);

    tr {
      &:first-child th {
        @include i.font-500(var(--color-13));
        position: sticky;
        top: 0;
        padding: 10px 5px;
        background-color: var(--color-2);
      }

      &.empty td {
        grid-column: 1 / -1;
      }
    }

    td {
      @include i.font(1.5em, 400, var(--color-13));
      font-family: 'Roboto', sans-serif;
      padding: 15px 0;
    }

    button {
      @include i.button($padding: 10px, $color: var(--color-13), $bg-color: var(--color-6), $h-bg-color: var(--color-9));
    }
  }
}

