@let logo_title = 'Powrót do strony głównej';
@let return_title = 'Powrót do poprzedniej strony';
<a routerLink="" [title]="logo_title" [attr.aria-label]="logo_title" class="logo">
  @defer (on immediate; prefetch on idle) {
    @if (!imageError()) {
      <img ngSrc="assets/hella_chopped.jpg" alt="Logo" height="50" width="50" (error)="imageError.set(true)" priority />
    } @else {
      <fa-icon [icon]="faWarning" />
    }
  } @placeholder (minimum 1000ms) {
    <span class="placeholder"></span>
  }
</a>
@if (isNotInRoot()) {
  <a [routerLink]="previousUrl()" [title]="return_title" [attr.aria-label]="return_title" class="return">
    <fa-icon [icon]="faArrowLeft" size="2x" />
  </a>
}
<div class="change-sidebar">
  @switch (sidebarLoaded()) {
    @case ('home-nav') {
      <app-home-nav />
    }
    @case ('osoby-nav') {
      <app-osoby-nav />
    }
  }
</div>
@if (infoS.status() !== undefined && !infoS.status()) {
  <button class="retry-button" (click)="getHealth()">
    <fa-icon [icon]="faArrowRotateRight" />
    Ponów próbę połączenia
  </button>
}
