<div class="table-container">
  <div>
    <button [dialog]="addDeclarationDialog" button-primary>
      Dodaj deklarację
      <fa-icon [icon]="icons.faPlus" />
    </button>
    <button (click)="refreshDeclarations()" button-secondary>
      @if (isLoading) {
        Ładowanie...
      } @else {
        Odśwież deklaracje
      }
      <fa-icon [class.spin]="isLoading" [icon]="icons.faRotate" />
    </button>
    <button [dialog]="filterDeclarationsDialog" button-default>
      Filtruj deklaracje
      <fa-icon [icon]="icons.faFilter" />
    </button>
  </div>
  <table table-default>
    <thead>
    <tr>
      <th>#</th>
      <th>Data rozpoczęcia</th>
      <th>Data zakończenia</th>
      <th>Wybierz</th>
    </tr>
    </thead>
    <div class="table-body-scroll">
      <tbody>
        @for (declaration of shownDeclarations(); track declaration.id; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ declaration.data_od | date : 'longDate' }}</td>
            <td>{{ declaration.data_do | date : 'longDate' }}</td>
            <td>
              @if (!(declaration | isSelectedDeclaration:selectedDeclaration())) {
                <button (click)="selectedDeclaration.set(declaration)" button-primary>
                  Wybierz
                </button>
              } @else {
                <button button-secondary>
                  Wybrano
                </button>
              }
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4">Brak dostępnych deklaracji...</td>
          </tr>
        }
      </tbody>
    </div>
  </table>
</div>
<form (submit)="$event.preventDefault()" class="declaration-form">
  @if (selectedDeclaration()) {
    <fieldset [attr.aria-errormessage]="selectedDateError ? 'error-selected-date' : null" [class.error]="selectedDateError" fieldset-default>
      <legend>
        <fa-icon [icon]="icons.faCalendar" />
        Daty
      </legend>
      <label label-default>
        @let data_od_errors = deklaracjaForm.data_od().errors();
        <span>Data Rozpoczęcia: </span>
        <input [field]="deklaracjaForm.data_od" input-default type="date">
        @if (data_od_errors.length > 0) {
          @for (error of data_od_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let data_do_errors = deklaracjaForm.data_do().errors();
        <span>Data Zakończenia: </span>
        <input [field]="deklaracjaForm.data_do" input-default type="date">
        @if (data_do_errors.length > 0) {
          @for (error of data_do_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      @if (selectedDateError) {
        <span id="error-selected-date" class="error-message">Data zakończenia musi być późniejsza niż data rozpoczęcia</span>
      }
    </fieldset>
    <fieldset fieldset-default>
      <legend>
        <fa-icon [icon]="icons.faCalendarDay" />
        Dni
      </legend>
      @for (dzien of Array.from(dni.entries()); track $index) {
        <label label-one-line>
          <span>{{ dzien[1] }}</span>
          <checkbox [field]="getFieldFromDay(dzien[0], 'declaration')!" />
        </label>
      }
    </fieldset>
    <div>
      @if (deklaracjaForm().invalid() || selectedDateError || hasWrongDays()) {
        <button [delayT]="cantSendTooltip" [delay]="500" button-success disabled type="submit">
          Prześlij dane
          <fa-icon [icon]="icons.faPaperPlane" />
        </button>
      } @else {
        <button (click)="$event.preventDefault(); updateDeclaration()" button-success type="submit">
          Prześlij dane
          <fa-icon [icon]="icons.faPaperPlane" />
        </button>
      }
      <button (click)="resetDeclaration()" button-danger type="reset">
        Resetuj
        <fa-icon [icon]="icons.faRotate" />
      </button>
      <button [dialog]="deleteDeclarationDialog" button-danger>
        Usuń deklaracje
        <fa-icon [icon]="icons.faTrash" />
      </button>
    </div>
  }
</form>
@if (selectedDeclaration()) {
  <app-calendar (hasWrongDays)="hasWrongDays.set($event)" [elements]="declarations()!" [selectedElement]="selectedDeclarationComputed()" />
}

<app-dialog #addDeclarationDialog>
  <h3>Dodaj Deklarację</h3>
  <form (submit)="$event.preventDefault()" class="add-dialog-form"> <!-- when clicking on the calendar, it sends data this is to fix this. -->
    <fieldset [attr.aria-errormessage]="addDateError ? 'error-date' : null" [class.error]="addDateError" fieldset-default>
      <legend>
        <fa-icon [icon]="icons.faCalendar" />
        Daty
      </legend>
      <label label-default>
        @let add_data_od_errors = addForm.data_od().errors();
        <span>Data rozpoczęcia:</span>
        <input [field]="addForm.data_od" aria-label="Data rozpoczęcia" input-default type="date">
        @if (add_data_od_errors.length > 0) {
          @for (error of add_data_od_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let add_data_do_errors = addForm.data_do().errors();
        <span>Data zakończenia:</span>
        <input [field]="addForm.data_do" aria-label="Data zakończenia" input-default type="date">
        @if (add_data_do_errors.length > 0) {
          @for (error of add_data_do_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      @if (addDateError) {
        <span id="error-date" class="error-message">Data zakończenia musi być późniejsza niż data rozpoczęcia</span>
      }
    </fieldset>
    <fieldset fieldset-default>
      <legend>
        <fa-icon [icon]="icons.faCalendarDay" />
        Dni
      </legend>
      @for (dzien of Array.from(dni.entries()); track $index) {
        <label label-one-line>
          <span>{{ dzien[1] }}</span>
          <checkbox [field]="getFieldFromDay(dzien[0], 'add')!" />
        </label>
      }
    </fieldset>
    <app-calendar (hasWrongDays)="addHasWrongDays.set($event)" [elements]="declarations()!" [isForNewElement]="true" [selectedElement]="addDeclarationComputed()" />
    <button button-danger type="reset">
      <fa-icon [icon]="icons.faRotate" />
      Resetuj
    </button>
    @if (addForm().invalid() || addDateError || addHasWrongDays()) {
      <button [delayT]="cantSendTooltip" [delay]="500" button-success disabled type="submit">
        Dodaj
        <fa-icon [icon]="icons.faPlus" />
      </button>
    } @else {
      <button (click)="$event.preventDefault(); addDeclarationToDB()" button-success type="submit">
        Dodaj
        <fa-icon [icon]="icons.faPlus" />
      </button>
    }
  </form>
</app-dialog>

<app-dialog #deleteDeclarationDialog>
  <div class="delete-dialog">
    <h3>Ostrzeżenie</h3>
    @let imie_nazwisko = personS.personZ()?.imie + ' ' + personS.personZ()?.nazwisko;
    <p>Czy na pewno chcesz usunąć deklarację z dnia <b>{{ selectedDeclaration()?.data_od | date : 'longDate' }}</b> do dnia <b>{{ selectedDeclaration()?.data_do | date : 'longDate' }}</b>?</p>
    <p>Dla osoby <b>{{ imie_nazwisko }}</b>?</p>
    <button (click)="deleteDeclarationDialog.hide(); deleteDeclaration()" button-danger type="button">
      Usuń
    </button>
    <button (click)="deleteDeclarationDialog.hide()" button-default type="button">
      Anuluj
    </button>
  </div>
</app-dialog>

<app-dialog #filterDeclarationsDialog>
  <h3>Filtruj deklaracje</h3>
  <form class="filter-dialog-form">
    <fieldset fieldset-default>
      <legend>
        <fa-icon [icon]="icons.faCalendar" />
        Pomiędzy dniami:
      </legend>
      <label label-default>
        @let filter_data_od_errors = filterForm.data_od().errors();
        <span>Data rozpoczęcia:</span>
        <input [field]="filterForm.data_od" aria-label="Data rozpoczęcia" input-default type="date">
        @if (filter_data_od_errors.length > 0 && filterForm.data_od().touched()) {
          @for (error of filter_data_od_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
      <label label-default>
        @let filter_data_do_errors = filterForm.data_do().errors();
        <span>Data zakończenia:</span>
        <input [field]="filterForm.data_do" aria-label="Data zakończenia" input-default type="date">
        @if (filter_data_do_errors.length > 0 && filterForm.data_do().touched()) {
          @for (error of filter_data_do_errors; track error) {
            <span class="error-message">{{ error.message }}</span>
          }
        }
      </label>
    </fieldset>
    <fieldset fieldset-default>
      <legend>
        <fa-icon [icon]="icons.faCalendarDay" />
        Wybierz dni:
      </legend>
      @for (dzien of Array.from(dni.entries()); track $index) {
        <label label-one-line>
          <span>{{ dzien[1] }}</span>
          <checkbox [field]="getFieldFromDay(dzien[0], 'filter')" />
        </label>
      }
    </fieldset>
    <button (click)="resetFilter()" button-danger type="reset">
      Wyczyść
      <fa-icon [icon]="icons.faRotate" />
    </button>
    <button (click)="$event.preventDefault(); filterDeclarationsDialog.hide()" button-primary type="submit">
      Zastosuj
      <fa-icon [icon]="icons.faFilter" />
    </button>
  </form>
</app-dialog>

<app-tooltip #cantSendTooltip>
  <p>Nie zgadzają się dni. Zmień daty, jeżeli w kalendarzu pokazują się błędy albo jak dzień początkowy jest później niż dzień końcowy.</p>
</app-tooltip>