@use 'index' as i;

:host {
  min-width: 30vw;
  padding: i.$padding-xs i.$padding-lg;
  display: grid;
  gap: i.$padding-3xs;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: i.$base-border var(--border-muted);
  border-radius: i.$border-radius-full;
  background-color: var(--bg);

  &.fade-out {
    animation: out i.$duration-lg i.$cubic-bezier forwards;
  }

  &.fade-in {
    animation: in i.$duration-md i.$cubic-bezier forwards;
  }

  &.success > .type {
    color: var(--success);
  }

  &.error > .type {
    color: var(--danger);
  }

  &.info > .type {
    color: var(--info);
  }

  &.warning > .type {
    color: var(--warning);
  }
}


button {
  color: var(--text-muted);
  justify-self: end;
  grid-column: 4 / -1;
  transition: i.transition(color, i.$duration-sm);
  grid-row: 1;

  &:hover, &:focus {
    color: var(--text);
  }
}

.type {
  display: flex;
  gap: i.$padding-xs;
  align-items: center;
  grid-column: span 2 / span 2;
  font-size: i.$font-size-xs;
  align-self: start;
}

.timestamp {
  color: var(--text-muted);
  font-size: i.$font-size-2xs;
  align-self: end;
  justify-self: end;
  grid-column: 4 / span 2;
  grid-row: 3 / 3;
}

p {
  grid-column: 1 / -1;
  grid-row: 2;
}

.timeleft {
  color: var(--text-muted);
  font-size: i.$font-size-2xs;
  align-self: end;
  grid-column: 1 / span 2;
  grid-row: 3;
}

@keyframes out {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes in {
  from {
    margin-bottom: -50%;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}
