@use 'index' as i;

:host {
  min-width: 30vw;
  padding: i.$padding-xs i.$padding-lg;
  display: grid;
  gap: i.$padding-3xs;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: i.$base-border var(--border-muted);
  border-radius: i.$border-radius-full;
  background-color: var(--bg);

  &.success > .type {
    color: var(--success);
  }

  &.error > .type {
    color: var(--danger);
  }

  &.info > .type {
    color: var(--info);
  }

  &.warning > .type {
    color: var(--warning);
  }
}


button {
  justify-self: end;
  grid-column: 4 / -1;
  grid-row: 1;
  color: var(--text-muted);
  transition: i.transition(color, i.$duration-sm);

  &:hover, &:focus {
    color: var(--text);
  }
}

.type {
  display: flex;
  gap: i.$padding-xs;
  align-items: center;
  align-self: start;
  grid-column: span 2 / span 2;
  font-size: i.$font-size-xs;
}

.timestamp {
  justify-self: end;
  align-self: end;
  grid-column: 4 / span 2;
  grid-row: 3 / 3;
  font-size: i.$font-size-2xs;
  color: var(--text-muted);
}

p {
  grid-column: 1 / -1;
  grid-row: 2;
}

.timeleft {
  align-self: end;
  grid-column: 1 / span 2;
  grid-row: 3;
  font-size: i.$font-size-2xs;
  color: var(--text-muted);
}
