#select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#select h2 {
    text-align: center;
    font-size: 1.7em;
    margin: 0.4em 0 0.8em 0;
}
#select button {
    display: inline-block;
    margin: 0.5em auto;
    padding: 10px 20px;
    font-size: 1.1em;
    font-family: inherit;
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
#select button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
main {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
main > section {
    display: flex;
}
nav {
    width: 25%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--border-color);
}
nav ol {
    counter-reset: item;
}
nav ol li {
    list-style: none;
    font-size: 1.5em;
    width: 87%;
    margin: 10px 0;
    background-color: var(--secondary-color);
    padding: 10px 10px 10px calc(1.2em + 10px);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
nav ol li::before {
    content: counter(item) ". ";
    counter-increment: item;
    position: absolute;
    left: 0;
    padding-left: 10px;
    font-size: 1em;
}
nav h2 {
    font-size: 2.5em;
    cursor: pointer;
    margin: 30px 0 10px 0;
    text-align: center;
}
nav h2:hover {
    text-decoration: underline;
}
#content {
    width: 75%;
    margin-left: 20px;
    height: 100%;
}
main > section {
    position: relative;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}
main > section h1 {
    text-align: center;
    font-size: 2.3em;
    margin: 0.4em 0 0.8em 0;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
h2 {
    font-size: 1.7em;
    margin: 0.4em 0 0.8em 0;
}
input, select {
    width: fit-content;
    margin: 0.5em 0;
    padding: 10px;
    font-size: 1em;
    font-family: inherit;
    border: 0;
    border-radius: 5px;
    transition: 30ms ease-in-out all;
}
input:focus {
    outline: 2px solid var(--accent-color);
}
button {
    margin: 0.5em auto;
    padding: 10px 20px;
    font-size: 1.1em;
    font-family: inherit;
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
#raport {
    max-height: 30%;
    overflow-y: auto;
}
table {
    width: 98%;
    border-collapse: collapse;
    margin: 10px 0;
    border-radius: 10px;
}
th {
    background-color: var(--secondary-color);
    font-size: 1.1em;
}
tr, th, td{
    padding: 10px;
    border: 2px solid var(--border-color);
    text-align: center;
}
