<section id="select">
  <h2>Globalny Raport</h2>
  <button (click)="this.renderer.setStyle(this.DOMelement.querySelector('main'), 'display', 'flex');">Wygeneruj</button>
</section>
<main>
  <section>
    <nav>
      <h2 (click)="this.renderer.setStyle(this.DOMelement.querySelector('main'), 'display', 'none');">Powrót</h2>
      <ol (click)="show_raport($event)">
        <li data-id="1">Korekty</li>
        <li data-id="2">Wersje Posiłków</li>
      </ol>
    </nav>
    <div id="content"></div>
  </section>
</main>
