<section id="select">
  <h2>Globalny Raport</h2>
  <button (click)="show()">Wygeneruj</button>
</section>
<main>
  <section>
    <h1>Raport z miesiąca {{ miesiac }}</h1>
    <img ngSrc="../../assets/x.svg" alt="Zamknij" (click)="close()" height="48" width="48">
    <form name="miesiac" (submit)="generuj($event)" method="post">
      <div>
        <label>Miesiąc: <input type="month" name="month" [value]="date.getFullYear()+'-'+(date.getMonth()+1)" placeholder="YYYY-MM"></label>
        <label><select required name="typ">
          <option value="ZSTI">ZSTI</option>
          <option value="Internat">Internat</option>
        </select></label>
        <button type="submit">Generuj</button>
      </div>
      <div id="raport"></div>
    </form>
  </section>
</main>
