#select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#select h2 {
    text-align: center;
    font-size: 1.7em;
    margin: 0.4em 0 0.8em 0;
}
#select button {
    display: inline-block;
    margin: 0.5em auto;
    padding: 10px 20px;
    font-size: 1.1em;
    font-family: inherit;
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
#select button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
main {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
main > section > img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
main > section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--primary-color);
    width: 90%;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    height: 100%;
    margin: 5% auto;
}
main > section h1 {
    text-align: center;
    font-size: 2.3em;
    margin: 0.4em 0 0.8em 0;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}
input {
    font-family: inherit;
    outline: 0;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: all 30ms ease-in-out;
    font-size: 1em;
}
input:focus {
    outline: 2px solid var(--accent-color);
}
button {
    display: inline-block;
    margin: 0.5em auto;
    padding: 10px 20px;
    font-size: 1.1em;
    font-family: inherit;
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
select {
    border-radius: 10px;
    border: 0;
    background-color: var(--background-color);
    padding: 10px;
    font-size: 1.1em;
    font-family: inherit;
    margin: 0.5em 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    border-radius: 10px;
}
th {
    background-color: var(--secondary-color);
    font-size: 1.1em;
}
tr, th, td{
    padding: 10px;
    border: 2px solid var(--border-color);
    text-align: center;
}
