<mat-form-field class="full-width">
  <input
    type="text"
    matInput
    placeholder="Wpisz imię, nazwisko lub numer karty..."
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    #cardInput
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectUser($event.option.value)" autoActiveFirstOption>
    <mat-option *ngFor="let user of (filteredUsers | async)" [value]="user">
      <span>{{ user.firstName }} {{ user.lastName }}</span>
      <span class="card-id">({{ user.cardId }})</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
